<% 
##
## Manuel des notes
##
%>
<h2>Partitions dans les commentaires</h2>

<p>
Le site comporte une fonctionnalité unique et appropriée&nbsp;: la faculté de pouvoir être des partitions dans vos commentaires.
</p>