<% 
##
## Article principal de la page d'accueil
##
%>
<p>
  Le “Cercle pianistique” est une réaction.
</p>
<p>
  L'Internet est un outil fantastique, mais aussi un outil terrifiant.
</p>
<p>
Fantastique pour la source de connaissances qu'il peut représenter, pour la source riche d'exemples aussi, via les nombreuses vidéos qui permettent aujourd'hui même à celui qui apprend seul de profiter, dans une certaine mesure, des enseignements traditionnels.
</p>
<p>
Mais il peut être terrifiant aussi pour la quantité de bêtises en tout genre qu'il peut véhiculer à la vitesse de l'éclair, particulièrement sur les forums, où, sous couvert de <em>liberté d'expression</em>, chacun peut s'exprimer et donner péremptoirement son avis sur un sujet complexe et délicat dont en réalité il ignore tout.
</p>
<p>
Les forums sur la musique et le piano n'y échappent pas, forums que les membres du <%= short_name %> ont pour la plupart fréquenté un temps avant de se résoudre à réagir.
</p>
<p>
<%= name %> voudrait être le fruit de cette réaction. Une lutte contre l'intoxication, sous toutes les formes qu'elle peut prendre. Sa vocation&nbsp;: s'efforcer d'offrir une information la plus juste possible, la plus accessible possible, la plus éclairante et éclairée possible.
</p>
<p>
Le <%= short_name %> se voudrait également le plus ouvert d'esprit possible. C'est peut-être l'une de ses marques de fabrique les plus affichées. Au cercle, pas de “pour” ni de “contre”, mais plutôt des “bien au contraire”. Exit les confrontations d'“écoles”, pro-Hanon d'un côté et anti-Hanon de l'autre, exit les pros-métronome et les anti-métronome, le Cercle veut considérer avec la même ouverture d'esprit toutes les techniques et toutes les approches, en banissant les a priori, en cherchant toujours ce qu'il peut y avoir de bon, et ne veut se positionner —&nbsp;car il sait aussi prendre position de façon tranchée quand il le juge nécessaire&nbsp;— qu'après une réflexion et des expérimentations sérieuses.
</p>
<p>
  Ce site sans chichi, en noir et blanc comme le clavier d'un piano, est là pour présenter le fruit de cette démarche volontaire et exigeante. L'accent y est mis de façon nette sur le fond plutôt que sur la forme, pour une consultation plus rapide et plus probante. Pour se démarquer également de façon tout aussi nette des séductions illusoires de l'apparence.
</p>
<p>
Aussi, amies et amis pianistes, quel que soit votre âge, quel que soit votre niveau, vous êtes les bienvenues et les bienvenus sur ce site qui veut, au fond et avant tout, partager sa passion pour cet instrument fantastique qu'est le piano&nbsp;!
</p>
