<% 
##
## Article principal de la page d'accueil
##
%>
<p>
  Le “Cercle pianistique” est une réaction.
</p>
<p>
  L'internet est un outil formidable, mais aussi un outil terrifiant.
</p>
<p>
  Terrifiant pour la quantité de bêtises en tout genre qu'il peut véhiculer à la vitesse de l'éclair, particulièrement sur les forums, où, sous couvert de liberté d'expression, chacun peut prendre la parole et donner son avis sur un sujet complexe et délicat dont en réalité il ignore tout.
</p>
<p>
  Les forums sur le piano n'y échappent pas, à commencer par les deux plus importants peut-être, Humeur Piano et Piano Majeur que les membres du <%= short_name %> ont pour la plupart fréquenté un temps avant de se décider à réagir.
</p>
<p>
  <%= name %> est donc une réaction… à la bêtise ambiante et à l'intoxication sous toutes ses formes. Sa vocation&nbsp;: offrir une information la plus juste et le plus accessible possible, éclairante et éclairée, pour tenter de battre en brèche la médiocrité et l'approximation des informations qui circulent çà et là.
</p>
<p>
  Mais s'il est exigeant, le site du Cercle pianistique n'en est pas moins ouvert d'esprit. C'est même l'une de ses marques de fabrique les plus affichées. Au cercle, pas de “pour” ni de “contre”, mais plutôt des “bien au contraire”. Pas d'écoles qui s'affrontent, pas de pro-Hanon d'un côté et de contre-Hanon de l'autre, pas de pro-métronome et de contre-métronome, le Cercle considère avec la même ouverture d'esprit toutes les techniques et toutes les approches, en banissant les a priori, et ne se positionne —&nbsp;s'il doit se positionner&nbsp;— qu'après une réflexion et des expérimentations sérieuses.
</p>
<p>
  Ce site sans chichi, en noir et blanc comme le clavier d'un piano, est là pour présenter le fruit de cette démarche volontariste. L'accent y est mis de façon radicale sur le fond plutôt que sur la forme, pour une consultation plus rapide et plus probante. Pour se démarquer également de façon tout aussi radicale des séductions illusoires de l'apparence.
</p>
<p>
Amies et amis pianistes, quel que soit votre âge, quel que soit votre niveau, vous êtes les bienvenues et les bienvenus sur ce site qui veut, au fond et avant tout, surtout partager sa passion pour cet instrument magnifique qu'est le piano.
</p>
