<h1><%= name %></h1>
<h2>Les Membres du cercle</h2>

<p class='italic'>
Le <%= short_name %> est constitué d'une équipe réduite de pianistes amateurs et professionnels qui partagent la même passion pour le piano et qui sont animés par la même envie de partager une information ouverte et vraie.
</p>

<% User::GRADES.each do |grade_id, grade_data| %>
  <h3 class='grade_title'>Grade <%= grade_data[:hname] %></h3>
  <dl class='air membres'>
    <% User::each(grade_id) do |u| %>
      <%= u.as_description %>
    <% end %>
  </dl>
<% 
end # Fin de boucle sur tous les grades
%>