<% 
##
## Gestion des commentaires
##
App::Comments::exec_operation
%>

<% 
##
## Pour valider les commentaires, il faut être online et connecté en
## tant qu'administrateur
##
if offline?
%>
<p class='small italic'>
La gestion des commentaires doit impérativement se faire ONLINE en étant connecté comme administrateur. Ici, en OFFLINE, vous pouvez juste avoir un aperçu des commentaires.
</p>
<p>
Noter que vous devez être identifié comme administrateur, même en OFFLINE, pour faire des opérations sur les articles (sauf pour les opérations générales — download, etc.).
</p>
<% 
##
## Formulaire pour effectuer une opération OFFLINE
##
%>
<form id="form_operations" action="index.rb" method="POST" accept-charset="utf-8">
  <%= "admin/comments".in_hidden(name: 'a') %>
  <select name="operation" id="operation" onchange="$('form#form_operations').submit()">
    <option value="">Exécuter l'opération…</option>
    <option value="download">Downloader le fichier distant des commentaires</option>
    <option value="copy">Faire une copie de secours du pstore des commentaires</option>
  </select>
</form>


<% 
elsif false == cu.admin?
  ##
  ## Pirate
  ##
%>
<% raise "Pirate !" %>
<% 
else # online et admin
%>
<p>
ONLINE : Vous pouvez réellement gérer les commentaires.
</p>

<% 
end # Si offline et admin
%>

<% 
##
## Listing des commentaires
##
filtre = nil # pour le moment
%>
<fieldset id="liste_des_commentaires">
  <legend>Liste des commentaires</legend>
  <ul id="comments">
    <%= App::Comments::listing_comments filtre %>
  </ul>
</fieldset>

