<h2>Production d'image de partition</h2>
<% 
unless cu.admin?
  redirect_to :login, 'admin/scores'
  exit
end
%>
<% 
##
## Pour produire des images de partition simples depuis l'administration
##
%>

<% if offline? %>
<p class='warning'>
Il est très dangereux de faire des partitions en OFFLINE (conflit si un visiteur est en train de composer un commentaire) et il est aussi simple de les faire ONLINE puisqu'on doit de toute façon appeler des scripts sur serveur Icare.
</p>
<p>
<a href="<%= App::FULL_URL %>?a=admin/scores">Rejoindre la section administration online</a>
</p>

<% end %>

<% 
##
## Si une opération est définie
##
if param(:operation).to_s != ""
  Score::send(param(:operation).to_sym)
end
%>

<% 
##
## Formulaire pour définir le score
##
%>
<%= view('article/admin/scores/form_score.erb')%>

<% 
##
## Section des boutons utilitaires
##
%>
<%= view('article/admin/scores/buttons.erb') %>

<% 
##
## Liste des images existantes, pour édition
##
%>
<% if param('operation') == 'show_list' %>
  <%= view('article/admin/scores/listing.erb') %>
<% end %>