<h2>Mémoriser la musique</h2>

<p>
C'est un sujet qui revient souvent sur le tapis. Beaucoup de choses ont déjà été dites sur la question, mais il nous semble important de les rassembler dans un unique article qui tente d'être le plus complet possible.
</p>

<p>
Nous distinguerons deux choses distinctes dans cet article, qu'il faut bien garder en tête&nbsp;:
</p>
<ul>
  <li>La <strong>mémorisation de la musique</strong>. C'est-à-dire l'acte d'apprendre un nouveau morceau.</li>
  <li>La <strong>remémoration de la musique</strong>. C'est-à-dire l'acte de retrouver le morceau quand on le joue.</li>
</ul>
<p>
D'abord, il faut indiquer clairement qu'il n'y a pas <i>une manière</i> de mémoriser la musique. Apprendre et retrouver un morceau de mémoire convoque plusieurs de nos mémoires. Tentons d'en établir la liste avant d'aborder chacune d'elle plus précisément&nbsp;:
</p>

<ul>
  <li>La mémoire physique ou gestuelle&nbsp;;</li>
  <li>La mémoire solfégique ou auditive&nbsp;;</li>
  <li>La mémoire visuelle&nbsp;;</li>
  <li>La logique&nbsp;;</li>
  <li>La mémoire analytique&nbsp;;</li>
  <li>La mémoire conceptuelle.</li>
</ul>

<h3>La mémoire physique ou gestuelle</h3>

[TODO: à développer]

<h3>La mémoire solfégique ou auditive</h3>

[TODO: à développer]


<h3>La mémoire visuelle</h3>

<p>
La mémoire visuelle peut être convoquée de différentes façons. Les deux plus courantes sont certainement&nbsp;: 1/ la mémorisation de la partition, de façon visuelle et 2/ la mémorisation visuelle des gestes sur le clavier.
</p>

<p>
Pour développer cette mémoire, il convient de développer sa concentration et de fuir comme la peste les “gestes réflexes”, nombreux quand on apprend un morceau. Notez que ce sont justement eux qui en cas de tract, à la première audition publique, vous lâcheront lâchement. Il faut apprendre à les reconnaitre, et les travailler.
</p>

<p>
Il ne faut pas hésiter à s'attarder sur un passage “à risque”, à le jouer très lentement, en se concentrant sur le mouvement exact des notes, en prenant conscience de chaque note jouée, jusqu'à ce que le dessin soit clairement en tête.
</p>

<p>
Pour savoir si cette mémorisation a été efficace, le test est simple&nbsp;: vous devez pouvoir fermer les yeux et imaginer vos doigts sur le clavier, très précisément, sans avoir la moindre hésitation. Main droite comme main gauche. Tant que vous n'en êtes pas capable, alors vous n'êtes pas encore en possession du morceau.
</p>

<h3>La logique</h3>

<p>
Il pourrait paraitre étrange de parler de <em>logique</em> dans un article consacrée à la <em>mémoire</em>. Pourtant, il nous a semblé impossible de ne pas mentionner le fait qu'une bonne partie de la musique peut se mémoriser et se retrouver par simple logique.
</p>

<p>
Cette logique s'appuie bien entendu sur un background de connaissances diverses retenues en mémoire. Le sujet est donc moins hors-sujet qu'il pourrait le paraitre de prime abord.
</p>

<p>
Donnons quelques exemples simples où la logique peut être sollicitée à des fins de mémorisation ou plutôt de remémoration du morceau.
</p>

[TODO: à développer]

<h3>La Mémoire conceptuelle</h3>

<p>
Ce que nous appelons la “mémoire conceptuelle”, c'est le fait d'apprendre quelque chose de façon conceptuelle, en le conceptualisant.
</p>

<p>
Prenons un exemple tout simple&nbsp;: on va pouvoir mémoriser par exemple que tel passage est une montée perpétuelle, que tel autre présente des mouvements contraires, que tel autre encore n'utilise que des accords plaqués, puis des accords arpégés.
</p>

<p>
Nous transformons donc le morceau en une espèce de “concept”, en une “histoire simple” qu'il sera plus facile de mémoriser.
</p>

<p>
“Je descends de 1 à 5” par exemple, peut être une approche conceptuelle plus facile à mémoriser que “J'utilise diatoniquement la gamme mineure mélodique descendante en descendant, depuis le degré jusqu'au degré 5”.
</p>

<p>
Plus nous pouvons <em>raconter</em> le morceau de façon conceptuelle simple, et plus nous avons de chance de le mémoriser comme une globalité.
</p>

<p>
Notons que cette mémoire fait aussi appel à toutes les autres mémoires.
</p>

[TODO: à développer]