AddHandler cgi-script .rb
Options +ExecCGI
Options -Indexes

DirectoryIndex index.rb

Options +FollowSymlinks
RewriteEngine On


# Permet de préserver le fonctionnement des css, images, etc.
# Le "!-f" signifie que l'existence du fichier est vérifiée
RewriteCond %{DOCUMENT_ROOT}/%{REQUEST_URI} !-f


RewriteRule ^tdm-([a-z_0-9]+)-([a-z_0-9]+)-([a-z_0-9]+)$ ?a=$1/$2/$3/_tdm_ [QSA,L]

RewriteRule ^tdm-([a-z_0-9]+)-([a-z_0-9]+)$ ?a=$1/$2/_tdm_ [QSA,L]

RewriteRule ^tdm-([a-z_0-9]+)$ ?a=$1/_tdm_ [QSA,L]

RewriteRule ^([a-z_0-9]+)-([a-z_0-9]+)$ ?a=$1/$2 [QSA,L]

RewriteRule ^([a-z_0-9]+)-([a-z_0-9]+)-([a-z_0-9]+)$ ?a=$1/$2/$3 [QSA,L]

RewriteRule ^([a-z_0-9]+)-([a-z_0-9]+)-([a-z_0-9]+)-([a-z_0-9]+)$ ?a=$1/$2/$3/$4 [QSA,L]
