<h2>Initiation à l'Analyse musicale</h2>

<p>
Ce tutoriel vidéo présente une initiation à l'Analyse musicale conçue par Phil sur la base du premier prélude du premier cahier du clavier bien tempéré de Jean-Sébastien Bach.
</p>

<%= video_youtube 'dT6RSHmyoN0' %>