<section id="content" class='fade_on_spinner'>
  <div id='main_article'>
    <%= view('gabarit/no_script.erb') %>
    <%= link_offline_to_edit_article %>
    <%= messages        %>
    <%= article.content %>
  </div>
</section>