<% 
# encoding: UTF-8
##
## Boutons principaux de la marge droite
##
%>
<%
arr_menus = [
  ['Accueil', "main/home"],
  ['Rester inform&eacute;', "main/rester_informed"],
  :separator,
  ['Ni pour ni contre,<br />bien au contraire', "theme/ni_pour_ni_contre/"],
  ['Tout &agrave; fait contre', "theme/contre/"],
  ['Le Travail du piano', "technique/travail_piano/"],
  ['Éléments de théorie', 'theorie/'],
  ['Des essentiels', "technique/essentiels/"],
  :separator,
  ['Membres du cercle', "main/membres"],
  ['Postuler au cerle', "main/postuler"],
  :separator
]

##
## Suivant que l'user est identifié ou non, on ajoute certains menus
##

if cu.identified?
  arr_menus << ["Se déconnecter", 'user/logout']
  arr_menus << ["Votre profil", 'user/profil']
else
  arr_menus << ["S’identifier", 'user/login']
end
if App::offline? || cu.admin?
  arr_menus += [
    :separator,
    ["Administration", "admin/"]
  ]
end
arr_menus.each do |dlink|
  
  if dlink == :separator
%>
  <hr />
  <% 
    else 
      titre, path = dlink
  %>
    <form class='navlink' action="index.rb" method="POST" charset="utf-8" onclick="this.submit()">
      <input type="hidden" name="article" value="<%= path %>">
      <div class='titre'><%= titre %></div>
    </form>
  <% end %>
<% end %>
