<% 
# encoding: UTF-8
##
## Boutons principaux de la marge droite
##
%>
<%
def derniers_articles
  [
    ["Méprise concernant les intervalles", 'technique/essentiels/intervalles'],
    ["Acoustique ou numérique&nbsp;?", 'theme/ni_pour_ni_contre/acoustique_numerique'],
    ["Des exercices ou pas&nbsp;?", 'theme/ni_pour_ni_contre/exercices_ou_pas']
  ]
end
arr_menus = [
  ['Accueil', "main/home"],
  ['Suivre le Cercle', "main/rester_informed"],
  :separator,
  {titre: "Derniers articles", content: derniers_articles},
  :separator,
  {
    titre: "Rubriques", 
    content: [
      ['Essentiels', "technique/essentiels/"],
      ['Éléments de théorie', 'theorie/'],
      ['Le Travail du piano', "technique/travail_piano/"],
      ['Ni pour ni contre bien au contraire', "theme/ni_pour_ni_contre/"],
      ['Tout à fait contre', "theme/contre/"]
    ]},
  :separator,
  {titre: "Le Cercle", content: [
    ['Membres du cercle', "main/membres"],
    ['Postuler au cercle', "main/postuler"]
  ]}
]

##
## Suivant que l'user est identifié ou non, on ajoute certains menus
##

if cu.identified?
  arr_menus << ["Se déconnecter", 'user/logout']
  arr_menus << ["Votre profil", 'user/profil']
else
  arr_menus << ["S’identifier", 'user/login']
end
if App::offline? || cu.admin?
  arr_menus += [
    :separator,
    ["Administration", "admin/"]
  ]
end
arr_menus.each do |dlink|
  debug "dlink : #{dlink.inspect}"
  code = case dlink
  when Array
    link_to dlink[0], dlink[1]
  when Symbol
     case dlink
     when :separator
       '<hr />'
     end
   when Hash
     # Menus dynamique avec titre
     "<div class='titre'>#{dlink[:titre]}</div>" + 
     dlink[:content].collect { |dl| link_to dl[0], dl[1] }.join('')
   end
%>
  <%= code %>
<% end %>
