<% 
##
## Marge droite
##
%>
<section id="rmargin">
  <% 
  ##
  ## Boutons de navigation principaux
  ##
  %>
  <nav id='main_buttons'>
    <%= view 'gabarit/rmargin_main_btns' %>
  </nav>
</section>