<% 
##
## Marge droite
##
%>
<section id="rmargin">
  <style type="text/css">section#rmargin{opacity:0}</style>
  <noscript>
    <style type="text/css">section#rmargin{opacity:1}</style>
  </noscript>
  <% 
  ##
  ## Boutons de navigation principaux
  ##
  %>
  <nav id='main_buttons'>
    <%= view 'gabarit/rmargin_main_btns' %>
  </nav>
</section>
