<% 
# encoding: UTF-8
##
## Boutons principaux de la marge droite
##
%>
<% 
##
## Suivant que l'user est identifié ou non
##
menu_login_logout = cu.identified? ? ["Se déconnecter", 'user/logout'] : ["S’identifier", 'user/login']
%>
<%
arr_menus = [
  ['Accueil', "main/home"],
  ['Rester inform&eacute;', "main/rester_informed"],
  :separator,
  ['Ni pour ni contre,<br />bien au contraire', "theme/ni_pour_ni_contre/"],
  ['Tout &agrave; fait contre', "theme/contre/"],
  ['Le Travail du piano', "technique/travail_piano/"],
  ['Des essentiels', "technique/aspect/"],
  :separator,
  ['Membres du cercle', "main/membres"],
  ['Postuler au cerle', "main/postuler"],
  :separator,
  menu_login_logout
]
if App::offline?
  arr_menus += [
    :separator,
    ["Administration", "admin/"]
  ]
end
arr_menus.each do |dlink|
  
  if dlink == :separator
%>
  <hr />
  <% 
    else 
      titre, path = dlink
  %>
    <form class='navlink' action="index.rb" method="POST" charset="utf-8" onclick="this.submit()">
      <input type="hidden" name="article" value="<%= path %>">
      <div class='titre'><%= titre %></div>
    </form>
  <% end %>
<% end %>
