<h2>Piano acoustique ou numérique&nbsp;?</h2>

<p>
Encore un éternel débat, un “troll” comme on dit en informatique, ou les plus virulents sont souvent ceux qui défendent l'idée que sans acoustique, point de salut…
</p>
<p>
Au risque de se répéter, nous le disons tout net&nbsp;: oui, si votre ambition est de devenir concertiste international, vous n'avez pas le choix&nbsp;: préparez-vous à investir dans un piano acoustique, un piano à queue si possible.
</p>
<p>
Dans le cas contraire, si vous voulez simplement <em>faire de la musique</em>, vous faire plaisir, ou même le faire très sérieusement, un piano numérique fera parfaitement l'affaire et représente même quelques avantages non négligeables&nbsp;:
</p>
<ul>
  <li>Si vous aimez partager votre musique, l'enregistrement est beaucoup plus facile avec un numérique. Un simple câble ou une clé USB, une carte son, un logiciel d'enregistrement, et c'est parti&nbsp;;</li>
  <li>Si vous voulez épargner vos oreilles (et celles de vos voisins), un numérique est beaucoup plus adapté&nbsp;;</li>
  <li>Si vous avez envie de pratiquer pour le plaisir le timbre d'un autre clavier, un clavecin, un orgue, etc. alors vous trouverez votre bonheur avec un numérique&nbsp;;</li>
  <li>Si vous avez besoin de contrôler votre rythme, votre tempo, vous disposez sur la plupart des modèles d'un métronome&nbsp;;</li>
  <li>Si vous voulez entendre d'une simple pression sur un bouton la qualité de votre interprétation, vous avez la possibilité d'enregistrer directement sur le piano sur beaucoup de modèles&nbsp;;</li>
  <li>Si vous n'avez pas envie de vous ruiner dans l'achat de l'instrument et son accordage régulier&nbsp;;</li>
  <li>Si vous voulez avoir toujours sous les doigts un instrument juste, alors le numérique est fait pour vous&nbsp;;</li>
  <li>Et d'autres avantages plus ponctuels et particuliers qui dépendent de chacun…</li>
</ul>

<p>
Notez que les instruments numériques, aujourd'hui, sont d'une grande qualité, autant au niveau du timbre que du toucher, lorsque l'on y met le prix (un prix bien en deça, à qualité équivalente, d'un acoustique). Vous avez donc une bonne marge d'investissement en fonction de vos désirs et de vos exigences.
</p>

<p>
Après, il est évident que le son d'un numérique, ça n'est pas le son d'un acoustique. Mais a-t-on réellement besoin d'un son au top lorsque l'on veut simplement se faire plaisir&nbsp;? D'expérience, nous avons pu remarquer que nombre de ceux qui défendaient mordicus l'acoustique peinaient dans leur jeu à en tirer partie, ne parvenaient qu'à sortir de leur instrument un son à peine plus riche que d'un numérique… Tout cela reste donc très relatif.
</p>

<h3>Les défauts du numérique…</h3>

<p>
D'aucuns prétendent que vous prendrez des défauts en utilisant un numérique…
</p>
<p>
Ah l'éternelle obsession des défauts… La plupart des profs entretiennent cette terreur. Évidemment, c'est tout à leur intérêt, puisque vous êtes leur gagne-pain, si vous prenez des cours avec un professeur (c'est un professeur qui vous le dit ;-) ).
</p>
<p>
Mais des défauts, nous vous rassurons&nbsp;: vous en prendrez de toute façon, que ce soit avec eux ou sans eux, avec un piano numérique ou avec un piano acoustique. Tant qu'on ne pratique pas un entrainement d'athlète, exigeant, on attrape des défauts, ça fait partie du jeu, il faut cesser d'être obsédé par eux. Pourquoi&nbsp;? Parce qu'on peut faire de la musique même avec des défauts.
</p>
<%# TODO: Lien vers une partie qui expliquerait la différence entre défaut rédhibitoire et petit défaut %>
<p>
Rassurez-vous, si vous êtes attentifs et travaillez correctement, vous saurez vous adapter rapidement lorsque vous aurez l'opportunité de jouer sur un acoustique et, encore une fois, ce n'est pas le son d'un virtuose qu'il vous faut atteindre donc quoi qu'il en soit, vous vous en sortirez.
</p>

<p>
Moralité, numérique ou acoustique, peu importe tant que ce n'est pas la carrière de concertiste que vous visez. Achetez simplement en fonction de vos moyens, de votre place, de vos voisins et de l'utilisation que vous voulez en faire. Et faites-vous plaisir&nbsp;!
</p>