<h2>Des exercices ou pas&nbsp;?</h2>

<p>
Encore un troll, une question récurrente posée encore et encore… Faut-il faire des exercices —&nbsp;type Hanon ou autre&nbsp;— ou le travail sur les morceaux appris suffit-il&nbsp;?
</p>


<h3>Pourquoi de nombreux profs ne font pas pratiquer d'exercices&nbsp;?</h3>

<p>
Avant d'entrer dans le vif du sujet, essayons d'abord de comprendre les raisons qui peuvent pousser les profs à ne pas vous encourager à travailler des exercices.
</p>
<p>
À la base, si vous commencez le piano à un âge avancé —&nbsp;comprendre&nbsp;: plus de 20 ans&nbsp;—, ayez bien conscience que votre professeur ne pourra fonder aucun espoir sur vous. Vous êtes déjà trop vieux pour faire un concertiste. Le problème s'aggrave avec l'âge…
</p>
<p>
Donc, ce prof, fatalement, n'a aucune ambition pour vous. Sans ambition, les exercices sont inutiles, il a raison.
</p>
<p>
D'autre part, vous êtes son gagne-pain. Il doit donc s'efforcer de vous faire plaisir et de ne pas vous imposer de travaux trop rigoureux, de peur de vous voir partir chez un concurrent.
</p>
<p>
C'est idiot, parce que vous, c'est aussi, au-delà du plaisir de la musique, un défi que vous vous lancez en voulant enfin apprendre cet instrument que vous aimez, et vous pourriez apprécier plus d'exigence, plus de confiance. Heureusement, certains profs en ont conscience.
</p>
<p>
Nous noterons pour clore cette première partie un point important&nbsp;: comment ont appris à jouer ceux qui vous déconseillent les exercices&nbsp;?… Hé bien en pratiquant des exercices, comme tout musicien qui se respecte.
</p>

<h3>Quelle est votre ambition&nbsp;?</h3>

<p>
En réalité, la question des exercices n'attend pas une réponse générale —&nbsp;c'est l'erreur de ce genre de débat, comme bien souvent&nbsp;— mais une réponse propre à chacun.
</p>

<p>
Si vous avez de l'ambition, c'est-à-dire que vous espérez un jour savoir bien jouer le piano, sans parler pour autant de devenir virtuose ou concertiste, alors vous ne pouvez pas passer à côté des exercices.
</p>
<p>
L'exercice, c'est un <strong>condensé d'efforts</strong>. C'est le travail qui possède <strong>le meilleur rapport temps/efficacité</strong>, et souvent de très loin. À votre niveau, vous ne trouverez aucun autre travail qui vous permettent de développer la musculature de vos doigts de façon aussi intense, et aux deux mains simultanément.
</p>
<p>
Pour donner un ordre d'idée —&nbsp;et seulement un ordre d'idée car il faudrait une étude rigoureuse pour donner des chiffres exacts&nbsp;—, travailler un exercice pendant dix minutes revient à travailler un morceau quelconque pendant dix heures.
</p>

<h3>Faire des exercices ne suffit pas</h3>

<p>
Mais la question n'est pas seulement “faire des exercices ou pas”, encore faut-il que ces exercices soient pratiqués le plus efficacement possible, en conjugant les trois aspects les plus importants du travail&nbsp;: 1/ les oreilles bien ouvertes pour la musicalité, 2/ la concentration et l'attention pour fortifier l'action du cerveau et enfin 3/ l'attention physique pour rendre ces exercices le plus efficace possible au niveau musculaire.
</p>

<div class="p">
Conclusion, si votre ambition l'exige, si vous voulez —&nbsp;sans vouloior devenir virtuose pour autant&nbsp;— atteindre un “bon petit niveau”, travailler des exercices est incontournable si vous ne voulez pas perdre beaucoup de temps. Mais encore faut-il travailler ces exercices le mieux possible, le plus efficacement possible. 
</div>
<div class='p'>
Nous espérons que ce site vous fournira de nombreux conseils sur ce travail, principalement dans la rubrique <%= link_to "Le travail du piano", 'technique/travail_piano/' %>.
</div>