<h2>Hanon ou “Ha non&nbsp;!”</h2>
<p>
Mon dieu que ce petit ouvrage fait couler d'encre numérique&nbsp;!
</p>
<div class="p">
Avant toute chose, il faut s'interroger sur la pertinence des exercices, puisque ce recueil ne contient rien d'autre que des exercices. Nous avons déjà débattu de ce sujet dans l'article <%= link_to "Des exercices ou pas&nbsp;?", 'theme/ni_pour_ni_contre/exercices_ou_pas' %> Nous ne reviendrons pas sur ce qui a été dit.
</div>

<h3>Le seul recueil d'exercice&nbsp;?</h3>

<p>
D'abord, pourquoi parle-t-on tant de cet ouvrage&nbsp;? Tout simplement parce qu'il fait référence dans le monde de l'apprentissage du piano, et même au-delà. De nombreux instrumentistes non pianistes s'en servent et il connait des développements même dans d'autres genres, le jazz notamment.
</p>

<p>
Cette popularité est-elle usurpée&nbsp;?… Beaucoup répondront sans y réfléchir que “oui”.
</p>

<p>
En réalité, le Hanon, objectivement, possède deux qualités qu'on passe trop souvent sous silence et qui peuvent expliquer, effectivement, qu'il soit un ouvrage de référence.
</p>

<p>
La première de ses qualités, c'est que contrairement à ce qu'on en dit généralement, les exercices du Hanon sont pensés pour être <strong>musicaux</strong>. Il y en a même de très charmants. En faire un usage mécanique est un contresens.
</p>

<p>
Il est vrai que certains d'entre eux ne présentent qu'un aspect mécanique (TODO: donner les numéros), mais ils sont rares.
</p>

<p>
L'autre grande qualité de ce recueil est qu'il est le seul, à notre connaissance, à présenter un éventail aussi large des <strong>techniques élémentaires du piano</strong>. Toute la technique élémentaire du piano y est développée, que ce soit les tierces, les octaves, les notes répétées, les gammes, les arpèges, les trémolos et autres extensions.
</p>

<p>
En d'autres termes, un travail complet sur le Hanon permet de se familiariser et de développer ses aptitudes dans toutes les techniques élémentaires qu'on retrouvera dans la plupart des morceaux.
</p>

<p>
C'est la raison pour laquelle il peut être absurde d'en faire l'usage qui en est fait le plus souvent&nbsp;: le travail des seuls premiers exercices. Le Hanon est bien plus qu'un simple “déliateur”.
</p>

<p>
En d'autres termes, si votre ambition pianistique implique le travail d'exercices (comme nous le voyons dans l'article sus-nommé), le Hanon est un très bon investissement, une très bonne piste. Si vos ambitions sont moindres, inutile de consacrer du temps à ces aspects techniques.
</p>

<h3>À partir de quand travailler le Hanon&nbsp;?</h3>

<p>
On peut le travailler dès qu'on aborde l'instrument. Mais de façon intelligente, sans acharnement. 10 minutes peuvent suffire, à un tempo le plus lent possible, pour en tirer déjà profit.
</p>

<h3>Comment travailler le Hanon et combien de temps&nbsp;?</h3>

<div class="p">
Pour cette question, il nous a semblé intéressant d'y consacrer un article conséquent dans la section “technique” du site, tant elle est vaste (article <%= link_to "Travailler le Hanon", 'technique/travail_piano/hanon.erb' %>).
</div>

<p>
Pour le “combien de temps”, nous avons envie simplement de répondre qu'il peut être très variable. L'important est de le pratique intelligemment.
</p>
