<h2>Travailler avec le métronome ou pas&nbsp;?</h2>

<p>
Nouveau sujet polémique, l'usage du métronome dans le travail de la musique… D'un côté ceux qui le bannissent, d'autres ceux qui affirment qu'il est impossible de s'en passer…
</p>

<p>Et si nous adoptions la position médiane, la meilleure bien souvent&nbsp;? Et si nous pensions plutôt que le métronome peut être utilisé ou ne pas être utilisé&nbsp;? Tout dépend des situations et du travail à faire.</p>

<h3>Les limites du métronome</h3>

<p>
La plus grande limite du métronome, et ce qu'il faut en comprendre, c'est que <strong>jamais le métronome ne vous donnera ce qu'on appelle “le sens du rythme”</strong>.
</p>
<p>
Vous aurez beau le faire tourner en boucle pendant vos jours et vos nuits, vous n'en acquièrerez pas pour autant le sens du rythme, la pulsation juste, le “beat”.
</p>

<p>
La pulsation juste doit venir du fond de vous, et elle requiert des années de pratique avant d'être assurée. Nous traiterons dans un autre article de la façon d'acquérir cette pulsation juste et de l'entretenir.
<% 
##
## TODO: Lien vers article sur le travail de la pulsation juste
##
%>
</p>

<h3>Respecter le tempo</h3>

<p>
Vous devriez trouver l'occasion d'utiliser le métronome, dans un premier temps, pour connaitre le tempo du morceau que vous vous apprêtez à travailler.
</p>
<p>
Petite astuce pour développer votre sens musical&nbsp;: vous pouvez attendre un peu avant de vérifier ce tempo. Dans un tout premier temps, travaillez le morceau sans jamais regarder le tempo. Essayez de trouver la vitesse à laquelle vous aimeriez l'entendre. Une fois cette vitesse trouvée (ce qui peut nécessiter une semaine de travail, suivant la difficulté et la longueur du morceau), regardez le tempo, faites-le jouer par votre métronome et comparez-le avec votre tempo.
</p>

<h3>Respecter le tempo tout du long du morceau</h3>

<p>
Il n'est pas toujours facile de garder le tempo d'un bout à l'autre du morceau. Il est même très souvent des passages qu'on a tendance à ralentir ou à accélérer sans s'en apercevoir, et sans que ça relève d'une difficulté particulière. On le fait simplement parce que l'écriture nous y pousse sans qu'on en est conscience.
</p>

<p>
Aussi est-il intéressant, lorsque l'on commence à bien avoir un morceau dans les doigts, ou même simplement en tête, de le vérifier dans son ensemble avec le métronome.
</p>

<p>
Notez bien, alors, les passages que vous avez tendance à accélérer ou à ralentir, et tentez de bien les entendre et les jouer au bon tempo.
</p>

<p>
L'idéal, pour ce travail, cet affinement, est d'<em>entendre</em> plutôt que de jouer, c'est-à-dire de mettre le métronome est de suivre la partition d'un bout à l'autre. Si vous n'êtes pas très fort en lecture/audition, vous pouvez faire ce contrôle une fois que vous connaissez suffisamment bien le morceau pour “l'entendre” sur la partition.
</p>


<h3>Le métronome permet de contrôler son sens du rythme</h3>

<p>
Bien entendu, le métronome peut aussi vous permettre de contrôler votre sens du rythme.
</p>
<p>
Un des exercices les plus classiques consistent à faire jouer le métronome, à “prendre le rythme”, puis à couper le son du métronome tout en le laissant jouer et tout en poursuivant ses battues, puis à remettre le son du métronome pour vérifier qu'on est toujours synchronisé avec lui.
</p>
<p>
Dans cet exercice —&nbsp;qui n'est qu'un <em>contrôle</em> de votre pulsation intérieure, car il ne vous apprendra rien d'autre&nbsp;—, la difficulté augmente à mesure que le rythme choisi est lent et que le temps où l'on coupe le son du métronome est long.
</p>
<p>
Donc commencez de préférence par un rythme moyen (entre 80 et 110) et coupez le son du métronome seulement pendant quelques battues (d'abord 4, puis 6, puis 8, etc).
</p>

<p>
Bon courage à vous&nbsp;!
</p>