<h2>Avec la pédale ou sans&nbsp;?</h2>

<p>
Le problème de l'utilisation de la pédale, ou de sa non utilisation, est souvent débattue ici ou là.
</p>

<p>
Notons que lorsque nous parlons de “pédale” ici, nous voulons parler de la pédale de <em>maintien</em>, la pédale la plus à droite lorsque l'instrument en possède plusieurs. On l'appelle aussi <em>pédale forte</em> ou <em>pédale sustain</em>.</p>

<p>
Cette pédale, pour simplifier, a pour effet de retirer tous les étouffoirs —&nbsp;qui empêchent les cordes de résonner&nbsp;—, les laissant vibrer librement même lorsque la touche a été relâchée.
</p>

<p>
Au cercle, nous ne sommes ni pour ni contre l'usage de cette pédale dans tout type de répertoire.
</p>

<p>
Certains d'entre nous sont plus puristes que d'autres et la déconseillent sur des œuvres écrites avant son “invention”. 
</p>

<p>
Notez que nous ne nous servons pas ici du terme “puriste” pour jeter aux orties les arguments qu'ils défendent comme on le voit faire trop souvent dans les discussions. Pour nous, “puriste” n'est pas un <em>gros mot</em>, il désigne simplement une façon tout à fait respectable d'être et d'aborder l'interprétation.
</p>

<p>
D'autres parmi nous font usage de cette pédale dans tous les styles et dans tous les genres. Là, plutôt que l'approche puriste qui cherche à rendre l'œuvre comme elle a pu être conçue et entendue à sa création, c'est une approche libre de la sonorité et des effets acoustiques qui sont recherchés, en faisant abstraction de toute contextualisation.
</p>

<p>
Il y a des grands mots dans le paragraphe précédent, mais il veut simplement signifier qu'on peut se faire plaisir, tout simplement plaisir, à entendre telle ou telle œuvre de Bach ou autre compositeur baroque avec la pédale de maintien, sans que le compositeur ne se retourne dans sa tombe.
</p>

<p>
Pourvu bien entendu que l'usage de cette pédale soit intelligent et subtil et qu'il respecte l'esprit et le sens de l'œuvre produite.
</p>

<p>
Mais, un grand <em>Mais</em>, là où l'un et l'autre nous rejoignons, c'est sur le fait que <strong>si la pédale doit être utilisée, ce sont pour les bonnes raisons</strong>. Ce qui signifie également, en toute logique, que <strong>cette pédale ne doit jamais être utilisée pour les mauvaises raisons</strong>.
</p>

<p>
Voyons ce que peuvent être ces mauvaises raisons. Nous n'avons choisi de retenir que les deux que nous avons le plus rencontrées.
</p>

<h3>La mauvaise raison historique</h3>

<p>
S'il y a une chose attristante en ce bas-monde, c'est lorsque d'illustres personnes se servent de leur illustre statut pour raconter n'importe quoi. C'est regrettable, surtout pour nous autres qui cherchons aveuglément la lumière. L'usage de la pédale de maintien a été victime de cet abus de pouvoir.
</p>

<p>
Nous ne citerons que la position de cet éminent pédagogue du piano, Jean Fassina —&nbsp;qui gagne à être connu pour beaucoup d'autres choses&nbsp;— qui fonde sa démonstration de la nécessité quasi systématique de la pédale sur le fait que, dit-il, le clavecin contrairement au piano n'aurait pas d'étouffoirs et qu'en conséquence la pédale forte devrait être utilisée pour reproduire ce détail mécanique.
</p>

<p>
Malheureusement, il semble que ce grand homme ne se soit jamais assis devant un clavecin ni n'en ait jamais ouvert un…
</p>

<p>
Car contrairement à son affirmation sur laquelle repose toute sa démonstration, le clavecin possède et possédait bien des étouffoirs. Il n'existe en musique, à notre connaissance, aucun instrument usuel dont l'instrumentiste ne puisse stopper la résonnance, que ce soit la guitare, la harpe, les cymbales ou autres <em>tubular bells</em>.
</p>

<p>
Donc la démonstration de Jean Fassina est malheureusement caduque et sans fondement, et l'usage quasi systématique de la pédale qu'il préconise en s'appuyant sur la base d'un raisonnement erroné produit une erreur mécanico-historique.&nbsp;:-)
</p>

<h3>La mauvaise raison du legato défaillant</h3>

<p>
La pédale de maintien ne doit pas non plus être employée pour palier un legato défaillant, comme on l'entend conseiller à droite et à gauche.
</p>

<p>
Cette pédale de maintien n'est pas là pour palier un défaut de jeu, pour masquer une imperfection, et l'instrumentiste se ferait beaucoup de mal à vouloir utiliser un placebo plutôt qu'à régler son problème à la racine.
</p>

<p>
Nous ne parlons pas ici, évidemment, des nécessités absolues de la pédale pour lier deux notes ou deux accords impossibles à lier autrement de par leur éloignement ou l'impossibilité des doigts de le produire, comme cela arrive dans des œuvres de Chopin par exemple.
</p>

<p>
Si un problème de manque de legato survient, il vaut mieux bannir définitivement cette pédale, prendre le taureau par les cornes et travailler sur ce legato déficient.
</p>

<p>
Nous ne rentrerons pas ici sur les détails des déficiences qui peuvent produire un mauvais legato, offrons simplement quelques pistes de réflexion et de travail.</p>

<p>
Ce mauvais legato peut provenir du fait que les notes sont trop détachées. Il convient alors de s'efforcer de les rapprocher, de s'entrainer par exemple très lentement à jouer la seconde alors que la première est encore appuyée. C'est lorsque le son d'une note “déborde” acoustiquement sur le suivant, sans que ce débordement soit perceptible par l'oreille qu'on appellera “consciente”, qu'on obtient le meilleur legato possible.
</p>

<p>
L'absence de legato peut provenir aussi d'une inégalité dans l'intensité des notes qui constituent ce legato. Ou plus exactement d'un manque de “linéarité” dans cette intensité, entendu qu'un meilleur legato, au piano, se produit également en jouant sur un changement de dynamique progressif, crescendo ou decrescendo. Mais si dans ce crescendo ou decrescendo le changement dynamique de chaque note ne se trouve pas sur une courbe régulière et harmonieuse —&nbsp;ce que nous appelons ici la “linéarité”&nbsp;—, alors l'impression de legato sera perdue, brisée.
</p>

<p>
Le même effet d'inégalité peut aussi avoir une origine timbrale. Des notes dont le timbre diffèrerait trop, ne s'inscrirait pas dans une linéarité, auront beaucoup de peine également à produire un legato satisfaisant.
</p>

<p>
Pour palier les deux problèmes précédent, nous ne pouvons que conseiller les exercices de base que pratique la très grande majorité des bons musiciens&nbsp;: les gammes et les arpèges. Il y en existe d'autres bien sûr, mais ceux-là représentent un investissement qui peut payer à de nombreux niveaux, et notamment au niveau de la régularité dans l'intensité et le timbre des différents doigts.
</p>

<p>
Et bien entendu, il ne faut jamais perdre de vue qu'un timbre n'est jamais produit par la mécanique, mais avant tout par l'imagination et l'oreille du musicien. En conséquence, avant de produire un bon legato, il est indispensable de bien l'entendre. Par exemple en s'entrainant d'abord à <em>chanter</em> le trait à jouer&nbsp;; la voix, quelle qu'elle soit, étant capable de produire le plus beau legato qui puisse à jamais être produit.&nbsp;:-)
</p>

<h3>Travailler sans pédale</h3>

<p>
Même dans une œuvre qu'il est impératif de jouer avec pédale —&nbsp;c'est le cas pour un grand nombre de pièces depuis le XIX<sup>e</sup> siècle&nbsp;— il est excellent et fortement conseillé de les travailler <em>avec</em> et <em>sans</em> pédale.
</p>

<p>
Les travailler <em>sans pédale</em> est indispensable pour s'assurer, nous en parlions plus haut, que le jeu est correct, que le timbre est correct, que le legato est bien créé par l'instrumentiste lui-même avant d'être soutenu par la pédale.
</p>


<h3>De l’utilisation de la pédale</h3>

<p>
Il nous semble aussi important de préciser que la pédale de soutien n'est pas un interrupteur qui ne connaitrait que deux positions&nbsp;: levée et baissée.
</p>



<h3><em>Les</em> pédales</h3>

<p>
N'oublions pas non plus qu'il y a plusieurs pédales sur un piano.&nbsp;:-)
</p>
<p>
La pédale <em>una corda</em> peut être aussi très utile pour enrichir la palette sonore et la palette des nuances. Ce peut être un bon exercice d'apprendre à l'utiliser le plus tôt possible afin d'apprendre à “jongler” le plus tôt possible avec ses deux pieds.
</p>

<p>
Comme la pédale de soutien, elle peut être utilisée <em>ad libitum</em>, c'est-à-dire <em>à l'envie</em> partout où une douceur toute particulière est recherchée.
</p>