<h2>Un prof ou pas&nbsp;?</h2>

<p>
À lire les nombreux messages des forums concernant ce sujet, on peut se dire que c'est vraiment une préoccupation majeure chez le musicien amateur.
</p>

<h3>La terreur des défauts</h3>

<h3>Le culte du “secret”</h3>

<p>
Combien de fois entend-on dire “ma prof m'a dit ça, je n'aurais jamais pu le deviner toute seule.”
</p>
<p>
Peut-être, mais cette affirmation ne fait que la démonstration de l'incapacité à son auteure à être suffisamment lucide, consciente, pour découvrir les solutions toute seule.
</p>

<p>
Car il est bien là, le problème&nbsp;: avoir un professeur, c'est remettre à un autre qu'à soi trop de responsabilité. La responsabilité d'estimer la valeur de son jeu, la responsabilité de déceler les écueils, de concevoir les solutions.
</p>

<p>
Mais apprendre le piano, ça n'est pas attraper une maladie orpheline ou une maladie grave. Quand on apprend le piano, on n'attrape pas le cancer.
</p>

<h3>Une vaine culpabilisation</h3>

<h3>En conclusion</h3>

<p>
En conclusion, si vous avez un professeur, tant mieux, vous aurez le cœur plus léger, vous aborderez l'apprentissage de façon plus insouciante, vous ne serez pas confronté à votre seul regard, à vos doutes, à votre manque de confiance.
</p>

<p>
Mais si vous préférez apprendre seul, ou si simplement vous n'en avez pas les moyens, soyez sans inquiétude&nbsp;: si vous travaillez intelligemment, si vous vous servez de toutes les ressources qui existent aujourd'hui à portée de main, nous sommes certains que vous parviendrez à un résultat qui vous satisfera.
</p>

<p>
Vous ferez peut-être des erreurs, mais rassurez-vous&nbsp;: ceux qui pensent ne faire aucune erreur en ayant un professeur sont comme ces enfants qui pensent tout apprendre à l'école. C'est un leurre et nous pourrions facilement faire une liste des erreurs les plus fréquentes que l'on note chez ceux qui apprennent à certain âge avec des professeurs.
</p>

<p>
Apprendre à jouer d'un instrument est difficile et exigeant, mais ne croyez pas que votre difficulté à apprendre vient de l'absence de professeur. Si le professeur était la solution miracle, alors on pourrait en constater les effets. Et l'on verrait des musiciens qui au bout de deux ans de pratique parviennent à un certain niveau. Il n'en est rien, regardez autour de vous, visitez les chaines YouTube de ces élèves amateurs. Il y a fort à penser que vous ne puissiez distinguer l'autodidacte éclairée de l'élève consciencieux.
</p>