<% article.next = 'blog/philicare/cfp/20' %>
<h2>Les Classiques favoris du piano</h2>
<h3>19 - Schumann - Le Cavalier sauvage</h3>

<%= video_youtube 'c8SYBGbhBKw' %>

<p>
Tentative au tempo indiqué par Schumann… juste pour le fun.
</p>

<%= video_youtube 'GUDiTQnT8x4' %>
