<h3>Sonatine op. 20 n°1, 2e mouvement</h3>
<p>
Bonjour à vous,
</p>

<p>
Dernière respiration avant de me lancer vers les 5 derniers morceaux du volume 1A des Classiques Favoris du piano qui représentent en eux-mêmes des challenges redoutables pour une quatrième année de piano.
</p>
<p>
En sortirai-je vivant&nbsp;?… La question reste entière… :-)
</p>

<p>
En attendant, le <strong>2e mouvement de la première sonatine op. 20 de Friedrich Kuhlau</strong>. Toujours très difficile, ces morceaux lents…
</p>

<p class='center air'>
  <%= video_youtube 'FZN29UwpV-U' %>
</p>

<p>
Merci à vous de votre écoute et de vos commentaires&nbsp;!
</p>