<h3>Sonatine op. 20 n°1, 3e mouvement</h3>
<p>
Bonjour à vous,
</p>

<p>
Je savais que je n'arriverais jamais à l'enregistrer (sic) donc, je dois m'estimer déjà heureux d'avoir réussi à faire cette prise-là…
</p>

<p>
Mais bon, c'est au-dessus de mon niveau actuel. Pas tellement le niveau technique, surtout “le niveau de conscience du piano”. Désolé pour les paniques sur les basses d'Alberti (oh non, pas les premières, là je commence pas encore à stresser ha ha). Désolé aussi pour le temps qui a disparu de la partition (je ne sais pas où il est passé LOL).
</p>

<p class='center air'>
  <%= video_youtube 'j8X-FWDFYeg' %>
</p>

<p>
Merci à vous de votre écoute et de vos commentaires&nbsp;!
</p>