<h3>Haydn, Final de la Sonate Hob. XVI 37</h3>

<p>Bonjour à vous, voilà donc le…</p>

<p class='center'>
<strong>Final de la Sonate Hob. XVI 37</strong> de <strong>Josepth Haydn</strong>.
</p>

<p>
… tout en force. Désolé pour ce travail approximatif.</p> 

<p>
Ce que je regrette quand même, c'est que je suis capable de le jouer mieux que ça, mais là, la pression de l'enregistrement est trop forte, je panique, et je perds mes moyens.
</p>

<p>
Mais bon, à nouveau je peux m'estimer heureux d'avoir quand même quelque chose à présenter…
</p>

<p class='center air'>
  <%= video_youtube 'qjMU5y_WRcY' %>
</p>

<p>
Merci à vous de votre écoute et de vos commentaires&nbsp;!
</p>