<h3>Mozart - Sonate KV. 545 - 1<sup>er</sup> mouvement</h3>

<p>Bonjour à vous,</p>

<p>
D'abord merci à Serge et Isabelle pour vos commentaires d'encouragement ;-). J'en ai bien besoin ;-).
</p>
<p>
Et voilà le début de la fin :-) avec&nbsp;:
</p>

<p class='center'>
<strong>1<sup>er</sup> mouvement de la Sonate dite “Facile” K. 545 de Mozart</strong>.
</p>

<p>
Je pourrais me plaindre de la timidité de l'ensemble, du manque de régularité de certains traits, du vide de sens de certains passages, mais bon, je préfèrerai rester content —&nbsp;vraiment content&nbsp;— d'avoir quelque chose à présenter qui ne contienne pas trop de ratés.
</p> 

<p>
C'était vraiment pas gagné&nbsp;!
</p>

<p class='center air'>
  <%= video_youtube 'sKngYKU8SLc' %>
</p>

<p>
Merci à vous de votre écoute et de vos commentaires&nbsp;!
</p>