<h3>Mozart - Sonate KV. 545 - 2<sup>e</sup> mouvement</h3>

<p>Bonjour à vous,</p>

<p>
Voilà le 35<sup>e</sup> morceau des Classiques favoris du piano, le…
</p>
<p class='center'>
<strong>2<sup>e</sup> mouvement de la Sonate “Facile” KV. 545 de Mozart</strong>.
</p>

<p>
Ce que je trouve fantastique, avec les grands compositeurs, c'est qu'on a toujours l'impression en les jouant d'être plus intelligent qu'on n'est.
</p>

<p>
J'ai encore trop d'accents involontaires à regretter, j'aurais pu pousser le rubato plus loin, mais dans l'ensemble, on va dire que je suis assez content du résultat. Même si le jouer sur un vrai piano aurait été tout différent.
</p>

<p class='center air'>
  <%= video_youtube 'yQqib-FXmCo' %>
</p>

<p>
Merci à vous de votre écoute et de vos commentaires&nbsp;!
</p>