<h3>Mozart - Sonate KV. 545 - 3<sup>e</sup> mouvement</h3>

<p>
Bonjour à vous,
</p>

<p>
<strong>J'en ai fini&nbsp;!&nbsp;:-)</strong> Voilà la dernière pièce du volume 1A des Classiques favoris du piano&nbsp;:
</p>

<p class='bold'>
Le 3<sup>e</sup> mouvement de la Sonate dite «&nbsp;facile&nbsp;» de Mozart.
</p>

<p>
Je suis tellement heureux d'avoir pu passer sans trop de dégâts ce petit morceau que je ne formulerai aucune critique sur cet enregistrement&nbsp;:-).
</p>

<p class='center air'>
  <%= video_youtube 'vaelQ672jJA' %>
</p>

<p>
Un grand merci de votre écoute, et, surtout, un merci tout particulier à ceux qui m'ont suivi et encouragé au cours de ce périple commencé il y a 9 mois.
</p>

<p>
Phil
</p>