<% 
##
## Page d'accueil du blog de Tilleul
##
%>
<p>
Bienvenue sur mon blog. Je suis <strong>Tilleul</strong>, le créateur et administrateur du <%= short_name %>.
</p>
<p>
Sur ce blog, je parle de ma vision du piano et de son enseignement au travail de mon expérience.
</p>

<h3>Liste des articles</h3>