div#infos_admin_article
	position:					absolute
	top:							-19px
	left:							-44px
	font-size: 				11pt

div.directlk
	margin-top:				4em
	
// Les liens de bas d'article pour rejoindre les
// commentaires, votes, etc.
div#botlkart
	margin-top:				1em