a
	text-decoration:			none
	color:								tomato
	cursor:								pointer
	
a.btn, input[type="submit"]
	font-family:				Helvetica
	padding:						12px 26px 10px
	border:							1px solid
	background-color: 	tomato
	color:							white
	font-size:					inherit
	cursor:							pointer
	font-style:					normal !important
	
	&.small
		font-size:			0.8em !important
		padding:				6px 18px 5px

	&.tiny
		font-size:			0.6em !important
		padding:				4px 8px 2px
	

// Un formulaire apparaissant comme un lien dans le texte
form
	&.alink
		display:				inline
		color:					tomato
		cursor:					pointer
		font-size:			inherit
		font-family:		inherit
		font-style:			inherit

ul	
	li
		margin: 				14px 0

.rfloat, .floatr, .fright
	float:					right

.lfloat, .floatl, .fleft
	float:					left
	
.right
	text-align:			right !important

.center
	text-align:			center !important
	
.small, .small *
	font-size:				0.85em
	
.bold
	font-weight:			bold
	
.italic
	font-style:			italic

.discret
	color:		#ccc

.air
	margin:				2em !important
	
.grand_air
	margin:				4em !important
	
.inline
	display:					inline

div.cadre, p.cadre
	padding:			2em
	border:				1px solid
	
.warning
	color:			red

div.warning, p.warning
	padding:			1em
	border:				1px solid

// Pour chassse fixe
.mono, .pre
	font-family: 	-moz-fixed
	font-size: 		13pt
	white-space: 	pre

fieldset
	margin-top:				1em
	margin-bottom:		1em
	width:						100%

	// Un fieldset qui contient une légend cliquable
	legend[onclick]
		cursor:					pointer

div.row
	margin:						12px 0
	
	span.libelle
		display:				inline-block
		width:					35%
		color:					#777
		font-style:			italic

	span.value
		display:					inline-block
		vertical-align:		top
		width:						60%
	
select
	font-family: 		inherit
	font-size:			inherit
	
// Cadre pour une image avec légende obtenu par la méthode
// in_image(... legend: "légende")
div.img_cadre
	text-align:						center
	
div.img_legend
	font-size:						0.9em
	font-style:						italic
	text-align:						center
	padding:							0 24%
	
span.cb
	> input
		margin-right: 			1em
		