form
	
	textarea, input[type="text"]
		width:				100%
		font-family:	inherit
		font-size:		inherit
	
	textarea
		padding:				12px
		
	div.row
		margin:						12px 0
		
		span.libelle
			display:				inline-block
			width:					35%
	
		span.value
			display:					inline-block
			vertical-align:		top
			width:						60%
			
				
			textarea
				height:				50px
				
		&.buttons
			text-align: 			right
			margin-top:				2em
			
			span.value
				padding-right:		12px

				input[type="submit"]
					font-size:			17pt