// Margin droite
section#rmargin

	position:					absolute
	right:						0
	top:							220px
	width:						250px
	opacity:					1
	z-index:					0

	nav#main_buttons
		width:								280px
		font-family: 					Helvetica

		a
			display:				block
			font-size:			0.7em
			margin:					6px 0 6px 22px
			color:					Background // Highlight
		
		hr
			height: 				2px
			border:					none


		div.titre
			border-bottom: 		1px solid #777
			font-size: 				14.9pt
			width: 						100%
			margin-bottom:		0.9em