<% 
##
## Message-page de confirmation de l'inscription à la mailing-list
## du site.
##
%>
<div class='grand_air'>
  <p>
  <%= param(:user_pseudo) %>, vous avez été ajouté à la mailing-list du <%= short_name %>.
  </p>
  <p>
  Vous serez informé de tout nouvel article.
  </p>
  <p>
  Un grand merci de votre intérêt&nbsp;! Et bon piano&nbsp;!
  </p>
</div>
