<h2>Jouer en lisant la partition</h2>

<p>
Pour le <%= short_name %>, il n'y a rien de pire que de voir le musicien amateur jouer le nez collé à la partition, prisonnier de ses portées. Il prône ardemment et vaillemment l'abandon de cette pratique beaucoup trop courante et que trop de professeurs ont le tort d'encourager.
</p>

<p>
Pourquoi&nbsp;? Les raisons ne manquent pas.
</p>


<ul>
  <li>Elle empêche le musicien de se concentrer sur l'essentiel&nbsp;: la musique elle-même&nbsp;;</li>
  <li>Elle menotte le musicien à sa partition. Un musicien —&nbsp;quel que soit son niveau&nbsp;— qui arrive à un instrument et qui ne peut pas jouer est-il vraiment un musicien&nbsp;? N'est-il pas plus proche de robots savants&nbsp;? Et encore, même les robots jouent de mémoire&nbsp;;</li>
  <li>Elle ne fait rien travailler, soyez-en convaincus&nbsp;: elle ne fait travailler ni la mémorisation, ni le déchiffrage&nbsp;;</li>
  <li>Elle empêche tout simplement le musicien amateur de se libérer.</li>
</ul>

<p>
Nous noterons immédiatement que le musicien professionnel, le concertiste, l'accompagnateur, eux, sont dans un tout autre schéma. Les compétences qu'ils ont acquises leur permettent de s'affranchir de la lecture pour garder toute leur liberté, toute leur musicalité, tout leur talent.
</p>

<p>
Nous allons rentrer un peu plus dans le détail de tous ces aspects que nous avons dégagés.
</p>

<h3>Le jeu à vue empêche de se concentrer sur l'essentiel</h3>

<p>
Lorsque l'on joue à vue, le cerveau est occupé en grande partie par la reproduction de ce qui est lu, est occupé par la vigilence du respect d'un signe artificiel. Or, cette activité est très consommatrice en énergie, et toute cette énergie ne sera pas mise au travail de l'oreille, de l'écoute intérieure.
</p>

<p>
Il faut noter ici un point essentiel&nbsp;: la lecture n'est pas une activité <em>naturelle</em>. C'est une activité artificielle, très éloignée d'une activité normale. Le travail de la mémoire qu'oblige le jeu sans partition, en revanche, est une des plus vieilles activités naturelles, et des plus importantes pour l'épanouissement de l'individu.
</p>

<p>
Étant une activité naturelle, sa consommation en énergie cérébrale est mieux canalisée, mieux réparties, mieux consommée. D'autant que le travail de mémoire fait appel à de nombreuses mémoires
<!--TODO: un lien ici vers l'article -->
et que l'une d'elle n'est autre que l'audition intérieure, tellement utile à la bonne interprétation d'un morceau quel qu'il soit.
</p>

<h3>Le jeu à vue menotte à la partition</h3>

<p>
N'y a-t-il pas quelque chose de fortement déplaisant, de contre-nature même, à se retrouver à l'occasion, loin de chez soi, loin d'une partition, devant un piano, et de ne pouvoir rien en tirer, tout simplement parce que l'on ne connait aucun morceau par cœur&nbsp;?
</p>

<p>
Notez que dans cette situation particulière, une connaissance un peu plus profonde —&nbsp;à peine plus profonde…&nbsp;— de la musique permet aussi de s'affranchir de toute musique et… d'improviser le morceau qu'on pourrait jouer :-).
</p>

<h3>Le jeu à vue ne favorise pas le déchiffrage</h3>

<p>
C'est une illusion de croire que le fait de jouer avec une partition améliore ses compétences en déchiffrage. Ce n'est pas le fait de lire 100 fois le même sol qui vous fera progresser en déchiffrage.
</p>

<p>
Progresser en déchiffrage, c'est aborder le maximum de notes et de configurations différentes. C'est tout le contraire de répéter et répéter encore la lecture de la même note ou du même motif rythmique.
</p>

<h3>Le jeu à vue ne favorise pas la mémorisation</h3>

<p>
C'est un fait évident. Plutôt que de faire remonter à la conscience la musique, on se sert de l'œil. En conséquence, plus vous jouez à vue, et moins vous êtes capable de mémoriser les morceaux que vous apprenez.
</p>

<p>
A contrario, plus vous vous entrainez à mémoriser la musique, et plus vous développez vos compétences à la mémoriser. Plus on avance en âge, et plus on devrait être sensible à cet argument, la mémoire étant un organe qu'il est important de solliciter toute sa vie.
</p>

<h3>Le jeu à vue empêche de se libérer</h3>

<p>
Pouvoir "se lâcher", se libérer, laisser libre court à sa sensibilité et son envie du moment est un bonheur intense, en musique.
</p>

<p>
Malheureusement, sans le niveau d'un concertiste, il est impossible d'atteindre cet état lorsqu'on a le regard scotché à deux portées et que son attention est toute occupée à suivre le texte, de peur de se tromper.
</p>

<p>
Le jeu de mémoire, en plus de permettre cet état, permet également de s'affranchir plus facilement, au début, des fausses notes, des erreurs, permet de suivre la musique, plutôt que de suivre la partition. Pour un bonheur incontestablement plus grand.
</p>

<h3>Ne soyez pas radical pour autant</h3>

<p>
Vous pouvez bien entendu adopter une position radicale par rapport au jeu sans partition. Vous n'en retirerez que du positif.
</p>
<p>
Mais cela peut paraitre difficile, d'autant plus si vous manquez d'outils pour apprendre à mémoriser.
</p>
<p>
Nous vous conseillons donc d'opter, au moins dans un premier temps, pour une position médiane. Parmi les quelques morceaux que vous travaillez, efforcez-vous toujours d'en apprendre au moins un par cœur, celui que vous préférez peut-être, et que vous aurez plaisir à pouvoir jouer lorsque, loin de chez vous, loin de votre partition, vous vous retrouverez en présence d'un clavier.
</p>

<p>
Bon courage à vous&nbsp;!
</p>

<div class="p">
Concernant la mémorisation, vous pouvez lire l'article <%= link_to "Mémoriser la musique", 'technique/aspect/memorisation' %> consacré à cette question.
</div>