<h2>Jouer en lisant la partition</h2>

<p>
Pour le <%= short_name %>, il n'y a rien de pire que de voir le musicien amateur jouer le nez collé à la partition, prisonnier de ses portées. Il prône ardemment et vaillemment l'abandon de cette pratique beaucoup trop courante et que trop de professeurs ont le tort d'encourager.
</p>

<p>
Pourquoi&nbsp;? Les raisons ne manquent pas.
</p>


<ul>
  <li>Elle empêche le musicien de se concentrer sur l'essentiel&nbsp;: la musique elle-même&nbsp;;</li>
  <li>Elle menotte le musicien à sa partition. Un musicien —&nbsp;quel que soit son niveau&nbsp;— qui arrive à un instrument et qui ne peut pas jouer est-il vraiment un musicien&nbsp;? N'est-il pas plus proche de robots savants&nbsp;? Et encore, même les robots jouent de mémoire&nbsp;;</li>
  <li>Elle ne fait rien travailler, soyez-en convaincus&nbsp;: elle ne fait travailler ni la mémorisation, ni le déchiffrage&nbsp;;</li>
  <li>Elle empêche tout simplement le musicien amateur de se libérer.</li>
</ul>

<p>
Nous noterons immédiatement que le musicien professionnel, le concertiste, l'accompagnateur, eux, sont dans un tout autre schéma. Les compétences qu'ils ont acquises leur permettent de s'affranchir de la lecture pour garder toute leur liberté, toute leur musicalité, tout leur talent.
</p>

<p>
Nous allons rentrer un peu plus dans le détail de tous ces aspects que nous avons dégagés.
</p>

<h3>La lecture à vue ne favorise pas le déchiffrage</h3>

<p>
C'est une illusion de croire que le fait de jouer avec une partition améliore ses compétences en déchiffrage. Ce n'est pas le fait de lire 100 fois le même sol qui vous fera progresser en déchiffrage.
</p>

<p>
Progresser en déchiffrage, c'est aborder le maximum de notes et de configurations différentes. C'est tout le contraire de répéter et répéter encore la lecture de la même note ou du même motif rythmique.
</p>

<h3>La lecture à vue ne favorise pas la mémorisation</h3>

<p>
C'est un fait évident. Plutôt que de faire remonter à la conscience la musique, on se sert de l'œil. En conséquence, plus vous jouez à vue, et moins vous êtes capable de mémoriser les morceaux que vous apprenez.
</p>

<p>
A contrario, plus vous vous entrainez à mémoriser la musique, et plus vous développez vos compétences à la mémoriser.
</p>


<div class="p">
Concernant la mémorisation, vous pouvez lire l'article <%= link_to "Mémoriser la musique", 'technique/aspect/memorisation' %> consacré à cette question.
</div>