<h2>Analyse du Prélude de Bach BWV999</h2>
<h3>Comment profiter pleinement de ce travail pratique&nbsp;?</h3>
<p>
Ce “travail pratique” s'est fait par échange de mails entre Isabelle et Phil.
</p>
<p>
Pour profiter pleinement de la lecture de ce travail, le mieux pour vous est de suivre le même chemin qu'Isabelle, la même “enquête”.
</p>
<p>
Pour faciliter cette forme de lecture, les échanges ont été respectés ici&nbsp;: d'abord le travail d'analyse d'Isabelle, sans aucune remarque. Tout comme elle, vous pouvez vous prêter au travail demandé, produire votre réponse, vous faire une idée, sans être influencé. C'est la même lecture à faire, une lecture active.
</p>
<p>
Puis dans un deuxième temps, Phil revient sur le travail d'Isabelle, relève les éventuels écueils et oriente la suite du travail pratique.
</p>
<p>
<em>Note&nbsp;: Vous pouvez utiliser le bouton “Suivant →” ci-dessous pour passer d'un article à l'autre.</em>
</p>