<h3>Retours de Phil (l'allégorie des chambres de couleur)</h3>

<%= image_mesure 15 %>
<p class='blue'>Eb7M - VI (mib sol sib ré)</p>

<p class='phil'>Parfait. Juste&nbsp;: quand tu rattaques un segment comme ça, pense bien à me préciser dans quelle tonalité tu te trouves. Ici en SOL mineur, donc.</p>

<%= image_mesure 16 %>
<p class='red'>Adim7M - II (la do mib sol)</p>

<p class='phil'>
Comme nous l'a fait remarquer un lecteur, j'ai laissé passer ton erreur sur le nommage de l'accord. Il ne s'agit pas d'une 7e majeure (7M) mais d'une 7e mineur. Donc&nbsp;: LA7/5dim. Merci Richard&nbsp;!
</p>

<p>L'altération sur le LA n'a ici aucune signification harmonique (genre sensible ou 7e de dominante), […]
</p>
<div class='phil'>
  <p>Attention&nbsp;: toute note a une signification harmonique. Il suffit que tu changes une seule note, n'importe laquelle, et tu peux changer beaucoup de choses. Donc toutes les notes ont une signification harmonique, surtout dans un morceau comme celui-là, qui est très peu contrapuntique et très harmonique.</p>
  <p>Après —&nbsp;et c'est je pense ce que tu voulais dire, mais je préfère être clair&nbsp;— il y a des notes qui ont plus de sens, plus de force harmoniquement que les autres, c'est vrai.</p>
</div>

<p class='blue'>
[…] c'est juste pour rappeler que l'on est en Gm&nbsp;?
</p>

<div class='phil'>
  <p>Pourquoi vouloir “rappeler” qu'on est en SOL mineur si on EST en SOL mineur&nbsp;?</p>
  <p class='bold'>L'Allégorie des chambres</p>
  <p>Je vais essayer d'utiliser une allégorie en reprenant ton idée de la pièce.</p>
  <p>Imagine, quand nous sommes en DO mineur, que nous soyons dans une chambre verte. La chambre verte, c'est la tonalité de DO mineur. Dans cette pièce, il y a trois portes. Elles sont fermées, mais nous les voyons. Et nous savons une chose&nbsp;: chaque porte mène à un ton voisin (remarque bien que je n'ai pas dit “mène chez ton voisin, hein ?”, sinon, elle serait fermée à clé&nbsp;:-)).</p>
  <p>Bref, nous sommes en DO mineur, nous sommes dans cette chambre verte.</p>
  <p>Avec le FA# nous avons <em>ouvert la porte</em> qui donnait sur une chambre bleue, la pièce du SOL mineur. Et nous sommes même ENTRÉS dans cette chambre, puisque nous avons trouvé au moins une cadence (V - I) et même plusieurs cadences si l'on compte les cadences imparfaites.</p>
  <p>Donc nous avons <em>ouvert la porte</em> avec une nouvelle altération —&nbsp;c'est la clé, ici le Fa# qui n'appartient pas à DO mineur mais appartient à SOL mineur&nbsp;— et nous <em>sommes entrés</em> dans la chambre bleue —&nbsp;nous y sommes vraiment rentrés à partir du moment où le Ie degré de la tonalité de SOL minueur a été joué. Depuis un moment déjà (mes. 13 — comme par hasard, là où il y a la fausse trille) nous <strong>sommes</strong> dans cette chambre bleue, dans la chambre du SOL mineur.</p>
  <p>Et donc, ta question, c'est un peu comme si tu disais “Heu… les murs bleus, là, c'est pour rappeler que nous sommes dans la chambre bleue&nbsp;?”</p>
  <p>Heu… non, te répondrais-je… Le murs sont bleus parce que nous <em>sommes</em> dans la chambre bleue…&nbsp;;-)</p>
  <p>Et je te ferais alors remarquer que ça fait bien longtemps que nous n'avons pas eu de SI bécarre, caractéristique de la tonalité de DO mineur —&nbsp;puisque c'est la sensible&nbsp;— et que ça fait donc un moment qu'on a quitté la chambre verte.</p>
  <p>Hé oui, Isabelle, ça y est, nous sommes chez le voisin&nbsp;!&nbsp;:-)</p>
  <p>L'harmonie, ça n'est pas plus compliqué que ces chambres. Quatre murs, des portes qu'on ouvre, des fenêtres, parfois on entre, parfois pas, et on marche toujours sur le SOL.</p>
  <p>Est-ce que ça t'éclaire un peu&nbsp;?</p>
</div>

<p>[…]</p>
