<h3>Échanges Isabelle/Phil (les cadences)</h3>

<p>Bonjour Philippe,</p>

<p>J’ai bien aimé cette image d’une maison aux pièces de couleurs différentes pour illustrer les changements harmoniques. C’est parlant et très clair.</p>

<p class='phil'>
Merci à toi de m'avoir suscité cette métaphore qui me semble effectivement intéressante et parlante.
</p>

<p>Ta question sur l’enchainement harmonique de 16 à 19 et sur la différence par rapport à ce qu’on peut connaitre&nbsp;?
C’est une cadence II, V, I , proche de la cadence IV, VII, I car les degrés II et IV ainsi que V et VII sont, souvent, interchangeables.</p>

<div class='phil'>
  <p>Oui, très bien. Remarque qu'au niveau de la fréquence, je pense que le II V I est beaucoup plus utilisé que les autres enchainements. C'est un enchainement qu'on pourrait appeler d'"archétypal" et qui constitue peut-être 90% de la musique classique. D'où l'importance de bien le (re)connaitre.</p>
  <p>Donc, ici, c'est mieux je pense de se dire que c'est plutôt le IV VII I qui est proche du II V I que l'inverse.</p>
  <p>Après, j'enlèverais le terme "cadence". Il vaut mieux parler d'"enchainement harmonique". La cadence, c'est quand même quelque chose de plus particulier, ça se réduit à une ponctuation.</p>
  <p>Par exemple, le I IV VII I des premières mesures, qui se déploie sur une pédale de tonique, on ne peut pas vraiment parler de cadence. La pédale casse tout idée de cadence.</p>
</div>

<p>Ma Remarque&nbsp;: 20 Fa#7 - VII (fa# la do mib), Fa# est la sensible de la gamme de sol. Ici on est en modulation de sol.</p>

<div class='phil'>
  <p>La <em>modulation</em>, c'est le passage de la porte. On peut <strong>être en sol</strong>, on ne peut pas <strong>être en modulation de sol</strong>. Sinon on serait en même temps au centre de la chambre et sur le seuil de la porte.&nbsp;;-)</p>
  <p>On module (passage de la porte) et on se retrouve dans une nouvelle tonalité. Quand on a modulé, on <em>est</em> dans la nouvelle tonalité.</p>
  <p>Note que lorsque je dis “on module”, ça peut se réduire à une seule note, un simple FA#.</p>
  <p>Je préfère bien t'embêter avec les termes, pour que les “concepts” soient le plus clairs possible dans ta tête. Après, tu verras quand même que comme toujours, dans le langage parlé, on se permet des abus. Peu importe l'abus de langage quand on a bien compris le concept. C'est lorsqu'ils ne sont pas encore bien fixés que ça peut être dangereux pour la compréhension.</p>
  <p>Donc pardonne-moi si je te reprends parfois sur un simple terme, sur une simple tournure de phrase.</p>
</div>

<p>
Ta queston: “A-t-on vraiment une modulation ? A-t-on vraiment ouvert une porte et changé de pièce ?”. Non, clairement non, on est et reste tranquillement en SOL mineur.
</p>

<p class='phil'>
Très bien ! :-) Je crois que tu as bien compris, maintenant.
</p>

<p>
Ta question: “2e accord&nbsp;: Ré - Sol - Sib - et c'est quoi, exactement cet accord ?”. Là, ca fait “tilt” tout de suite, c’est un accord de quarte et sixte qui annonce souvent un changement cadentiel.&nbsp;:-)
</p>

<div class='phil'>
  <p>Super, Isabelle&nbsp;! Excellent&nbsp;!</p>
  <p>Ne l'oublie pas, tu verras que tu le rencontreras dans pratiquement tous les morceaux. C'est en repérant de plus en plus souvent les schémas-type qu'on fixe l'analyse en soi.</p>
  <p>Laissez-moi juste te reprendre sur le terme “changement cadentiel”. Non, ça s'intègre dans l'harmonie d'une cadence, c'est un accord qui prépare une cadence. Une cadence ne produit pas de <em>changement</em> en soi.
  </p>
</div>

<%= image('music/technique/essentiels/Eb6aug-cadence-in-Gm.png', center: true)%>

<p>Ici, je ne comprends pas pourquoi cet enchaînement d’accords et pas un autre, pour mémoriser la sixte augmentée.</p> 

<div class='phil'>
  <p>C'est moins pour la mémoriser que pour l'entendre et voir comment elle peut être utilisée. C'est un enchainement-type, archétypal, que tu trouveras très souvent dans la musique classique.</p>
  <p>C'est une cadence-type : 6te augmentée - Tonique en 4te et 6te — 7e de dominante - Tonique.</p>
  <p>Mais après que tu l'auras compris, bien entendu, tu pourras le voir utilisé et l’utiliser de plein de façons différentes. Mais des façons qui ne changeront pas forcément cette harmonie de base, qui est volontairement très “ramassée” (les notes très proches) comme on le fait souvent en harmonie au clavier.
  </p>
</div>

<p>Quand tu parles d’écartellement, tu veux dire dissonance sur la seconde mineure&nbsp;?</p>

<div class='phil'>
  <p>Je parle simplement du MIb qui <em>descend</em> au RÉ tandis que le DO# <em>monte</em> au RÉ.</p>
  <p>Note que “écarlètement” n'est pas un terme officiel&nbsp;:-). Je trouve simplement que c'est typique de la 6te augmentée, ces deux notes, l'une en bas qui descend et l'autre en haut qui monte pour rejoindre la <em>même</em> note (qui est la quinte de la tonalité, le 5e degré).</p>
</div>

<p>
Ta question&nbsp;:“J'ai un doute : tu connais tes cadences ?” Je ne voudrais pas que le doute persiste plus longtemps… Je ne les connais pas mais ne désespère pas de les connaitre bientôt.&nbsp;:-)
</p>

<p class='phil'>
Tu peux regarder l’<a href="http://fr.wikipedia.org/wiki/Cadence_(musique)" target="_blank">article sur les cadences sur wikipédia</a>, c'est très bien expliqué.
</p>

<p class='right'>
[…]
</p>

