<h3>Mesure 25, acharnement thérapeutique</h3>

<p>Hello Philippe,</p>

<div class='phil'>
  <p>Hello Isabelle,</p>
  <p>Tu souffres, hein ?… Je m'en veux…</p>
  <p>Mais bon, tu avances, et tu n'as pas encore fini d'avancer, donc courage&nbsp;!</p>
</div>

<p>
“Parce que je ne te donnerai pas la réponse :-)” <br />
Tu es vraiment sans merci&nbsp;:-)
</p>

<div class='phil'>
  <p>Oui, un vrai sadique&nbsp;!&nbsp;:-) Et en plus, je te laisse croire que c'est pour ton bien&nbsp;:-).</p>
  <p>En tout cas, c'est intéressant, les problèmes que tu rencontres, parce qu'ils illustrent exactement ce que je te dis depuis le départ&nbsp;: la difficulté est toujours de trouver la simplicité.</p>  
</div>

<p>Alors, je repars sur mes mesures préférées.</p>

<%= image_mesure 25 %>

<p>
Je comprends bien que je ne peux pas supprimer le do#, ou faire comme s’il n’était pas là, par contre l’accord de Em7b5 est bien seulement composé de MI, SOL, Sib, RE […]
</p>

<div class='phil'>
  <p>Mais qui a dit que ce Em7b5 était juste&nbsp;?</p>
  <p>Je t'assure qu'il est faux.&nbsp;:-)</p>
  <p>Quand j'entends cette mesure, je n'entends pas de MI mineur 7eme quinte diminuée (Em75b), et encore moins d'emprunt à FA Majeur ou RÉ mineur qui sont deux tonalités de toute façon trop éloignées de SOL mineur.</p>
  <p>Donc, si je réfléchis simplement, je me dis&nbsp;: impossible d'avoir ce MI mineur 7e quinte diminuée. Cet accord est faux.</p>
  <p>D'autant plus que je <strong>ne peux pas</strong> retirer la note DO#. Donc, <strong>tout simplement</strong>, ce DO# fait partie de l'accord. Or, si je continue de réfléchir simplement&nbsp;:
  </p>
  <p>–&nbsp;Je vais placer ce DO# à la place qui est la sienne dans l'empilage des tierces&nbsp;;<br />
–&nbsp;je vais exclure les notes qui peuvent l'être pour comprendre l'accord final (ça n'est pas toujours nécessaire, mais là, clairement, il y a des notes “parasites”&nbsp;—&nbsp;une seule, en fait)</p>
  <p>Donc je le redis&nbsp;: cet accord est faux. Comment pourrais-tu justifier ce RÉ mineur qui n'est jamais joué, et qui contredit tout le contexte harmonique&nbsp;? (on a plein de FA# partout, comme tu le remarques plus bas, et un FA# imposerait au moins la tonalité de RÉ <em>Majeur</em>, pas <em>mineur</em>).</p>
  <p>Pour qu'une tonalité soit suggérée sans être résolue —&nbsp;ce qu'on appelle un <em>appel</em>&nbsp;—, encore faut-il que le contexte le permette. Si dans notre oreille, nous n'avons pas de FA bécarre, jamais on ne pourra entendre de RÉ mineur, tu comprends&nbsp;?</p>
  <p><strong>L’analyse analyse (sic) ce qu’entend l’oreille</strong>.</p>  

</div>



<p>
[…] donc je ne peux pas écrire accord Em7b5 = MI, SOL, Sib, DO#, RE&nbsp;?
</p>
<div class='phil'>
  <p>Il est où, ton empilage de tierces, dans cette suite de notes&nbsp;?</p>
  <p>Tu sais, en analyse, surtout au début, il ne faut surtout pas s'accrocher à ce qu'on croit avoir trouvé. Surtout pas.</p>
</div>

<p>
À propos de ma formulation&nbsp;: “do#, la sensible est une altération”.<br />
Ta Remarque&nbsp;: “Une sensible, ça ne peut pas être une altération… Une sensible c'est une note fonctionnelle.”<br />
Nouvelle formulation&nbsp;: Il y a eu modulation, nous sommes en RÉ mineur, preuve en est l’altération sur le VII degré, do#, de la gamme harmonique de RÉ mineur.
</p>

<div class='phil'>
  <p>On n'est pas en RÉ mineur, hein&nbsp;?</p>
  <p>Si tu veux vraiment employer le terme “altération”, alors tu dois parler de la note dans L'<em>ancienne tonalité</em> qui est modifiée (donc “altérée”) pour moduler dans la <em>nouvelle tonalité</em>.
  </p>
  <p>Ici, on pourrait dire par exemple&nbsp;: “Le 4e degré de SOL mineur, DO, est altéré pour devenir la sensible de la nouvelle tonalité, RÉ (je ne précise pas son genre)”.
  </p>  
</div>

<%= image_mesure 26 %>

<p class='blue'>
Am7b5 – Gm II (la do mib sol)
</p>
<p class='blue'>
Ici, je ne me préoccupe pas de la pédale RE puisque la note RE ne fait pas partie de l’accord et que la pédale est déjà présente depuis la mesure 24 et continue jusqu’à la mesure 32.
</p>
<div class='phil'>
 <p>Oui, très bien, Isabelle&nbsp;:-).</p>
  <p>Remarque que l'accord suivant est un V. Nous avons donc ici, classiquement un enchainement II - V —&nbsp;qui appelle un I, normalement. Cet enchaînement, <strong>tu dois apprendre à le reconnaitre parfaitement dans toutes les tonalités</strong>, parce qu'il est partout, dans la musique savante comme profane, dans le jazz comme dans la variété ou le classique.</p>
  <p>Ça viendra avec le temps, bien sûr.</p>
</div>

<p class='blue'>
Soit je suis sur le VII degré de la gamme de sibM (BM) ou le II degré de SOL mineur (Gm), un FA# indiquerait qu’on est bien en Gm.
</p>
<div class='phil'>
  <p>Et ta réflexion peut s'arrêter ici&nbsp;:-). Parce qu'elle est excellente et <strong>suffisante</strong>. Pourquoi vouloir compliquer&nbsp;? Pourquoi ne pas se fier à la simplicité&nbsp;? :-)</p>
  <p>Tu as un accord qui ne peut être <strong>que</strong> dans deux tonalités relatives —&nbsp;SIb et SOLm. Et tu as trouvé une note —&nbsp;FA#&nbsp;— qui est <strong>typique</strong> de l'une et l'une seulement des deux tonalités et qui de surcroit <strong>exclut</strong> l'autre tonalité&nbsp;: le FA naturel est la dominante de SIb, la supprimer, la remplacer par FA#, c'est supprimer la note la plus forte de la tonalité après la tonique.</p>
  <p>Donc le FA# implique SOL mineur pour deux raisons fortes&nbsp;: il crée une sensible, il disqualifie le ton majeur en supprimant sa dominante.</p>
  <p>Si on voit les choses simplement, où peut-il y avoir ambiguïté&nbsp;?&nbsp;:-)</p>
</div>
<p>
[…]
</p>