<h3>Un sort jeté à la mesure 25 (les faux tons proches)</h3>

<%= image_mesure 25 %>

<p>
<em>“Pas loin :-). Mais pas tout à fait ça —&nbsp;la 7e était-elle vraiment mineure&nbsp;?”</em><br />
<span class='red'>Oui, la 7e est mineure, […]</span>
</p>

<div class='phil'>
  <p>Aaah… malheureusement, elle ne l'est pas. ;-)</p>
  <p>Connnais-tu le truc très facile pour trouver rapidement la nature d'une septième&nbsp;?</p>
  <p>Tu inverses les deux notes. Ici, au lieu de DO - SI, on prend SI - DO.</p>
  <p>Si les deux notes inversées forment une SECONDE alors&nbsp;:</p>
  <p>–&nbsp;Si elles sont à 1/2 ton => SEPTIÈME MAJEURE <br />
–&nbsp;Si elles sont à 1 ton => SEPTIÈME MINEURE<br />
–&nbsp;Si elles sont à 1 ton et demi => SEPTIÈME DIMINUÉE</p>
  <p>Donc l'intervalle est-il vraiment une 7e mineure entre DO# et SIb&nbsp;? Puisqu'il y a un ton et demi entre SIb et DO#, il y a une <strong>septième diminuée</strong> entre DO# et SIb, pas une septième mineure.</p>
</div>

<p>En fait, je me suis trompé dans la formulation.</p>

<div class='phil'>
  <p>Donc c'est plutôt <strong>C#7dim</strong> (DO dièse 7e diminuée), qui se résout effectivement sur RÉ majeur ou RÉ mineur.</p>
  <p>Lequel vas-tu choisir et pour quelle (bonne et simple) raison&nbsp;?</p>
</div>

<p class='red'>
Sur RE mineur, car cet accord est le 7e degré de la gamme de RE mineure harmonique.
</p>

<div class='phil'>
  <p>La réponse est fausse, mais au moins, je dois t'accorder une chose&nbsp;: tu as cherché ce que tu considérais comme la solution la plus simple.</p>
  <p>Sauf que…</p>
  <p>Si on dit qu'un accord de 7e diminuée peut s'employer <em>aussi bien dans la tonalité majeure que dans la tonalité mineure</em>, ça veut dire qu'il peut faire les deux <em>aussi simplement</em> —&nbsp;tu finiras par l'entendre dans plein de morceaux, une fois que tu l'auras assimilé.</p>  
  <p>Si la <strong>solution simple</strong> consistait à dire qu'il se résout <em>forcément</em> sur le mineur parce qu'il fait partie de l'harmonie mineur, alors… dire qu'il peut se résoudre sur les deux modes —&nbsp;majeur ou mineur&nbsp;— n'aurait plus de sens.</p>
  <p>Le raisonnement dans ces situations est toujours le même : quand il y a ambiguïté entre deux tonalités, il suffit de trouver laquelle de ces tonalités est <strong>la plus proche</strong> du contexte tonal dans lequel on se trouve.</p>
  <p>Ici, ça revient donc à se demander&nbsp;: de ces deux tonalités, Ré mineur et Ré majeur, laquelle est la plus proche de la tonalité de Sol mineur dans laquelle nous nous trouvons&nbsp;?</p>
  <p>Et la réponse est&nbsp;?… Et pourquoi&nbsp;?</p>
</div>

<p class='blue'>
Ré Majeur car avec le Fa#, dans les parages, nous sommes dans un contexte harmonique de RÉ Majeur et non de RÉ mineur qui aurait un Fa bécarre. Il me semble bien que tu me l’avais déjá dit quelque part&nbsp;:-).
</p>

<div class='phil'>
  <p>C'est pas mal, comme raisonnement&nbsp;:-). Mais tu risques de rencontrer des pièges. Ça n'est pas tout à fait comme l'hésitation entre le relatif majeur SIb et le relatif mineur SOLm que nous avons déjà rencontrée.</p>
  <p>Mais déjà, tu es juste&nbsp;:-).</p>
  <p>En fait, pour commencer, je dois faire un écart. Comprends bien ça&nbsp;: quand on parle de <em>tons proches</em>, tu sais déjà que ce sont des tons qui différent par leur armure d'une seule altération. Donc tu pourrais dire, c'est vrai, que SOL mineur —&nbsp;2 bémols&nbsp;— et un ton proche de RÉ mineur —&nbsp;1 bémol.</p>
  <p>Le problème, c'est que cette <em>proximité détectée via l'armure</em> n'est valable <strong>que pour les tons majeurs</strong>. Car comme je l'explique dans les tutoriels vidéos, la proximité, ça n'est pas par l'armure qu'on la trouve, mais par le fait qu'il n'y a <strong>qu'une seule note de différence</strong> entre les deux tonalités interrogées.</p>
  <p>Y a-t-il vraiment une seule note différente entre SOL mineur et RÉ mineur&nbsp;?… Absolument pas&nbsp;: SOL mineur possède les notes MIb et FA# que RÉ mineur ne possède pas. RÉ mineur possède MI bécarre et DO# que SOL mineur ne possède pas.</p>
  <p>Moralité, RÉ mineur et SOL mineur, bien qu'ayant une seule altération de différence à la clé, ne sont pas des tons si proches que ça.</p>
  <p>En fait, deux tonalités mineures tonales ne sont <strong>jamais</strong> des tons proches. Il y a toujours —&nbsp;au moins&nbsp;— une <em>chambre</em> entre l'un est l'autre —&nbsp;alors que pour passer d'un ton à un de ses tons proches il suffit de franchir une seule porte.</p>
  <p>Regarde, pour aller au RÉ mineur —&nbsp;la chambre orange&nbsp;— depuis le SOL mineur —&nbsp;la chambre mauve&nbsp;—, il faut d'abord passer par la chambre bleue du SI bémol majeur —&nbsp;relatif majeur de SOLm&nbsp;—, puis de la chambre bleue vers la chambre jaune du FA majeur —&nbsp;dominante de SIb&nbsp;— puis de la chambre jaune à la chambre orange —&nbsp;RÉm, relatif mineur de FA.</p>
  <p>En fait, le bon raisonnement ici n'a rien à voir avec les tons proches. Ici, le bon raisonnement à suivre est le suivant, et tu peux l'appliquer partout&nbsp;:</p>
  <p>La bonne question à se poser, c'est&nbsp;: “<strong>Qu'est-ce que RÉ mineur est pour SOL mineur&nbsp;?</strong>” et “<strong>Qu'est-ce que RÉ majeur est pour SOL mineur&nbsp;?</strong>”.</p>
  <p>Principe du Rasoir d'Ockham&nbsp;: la réponse la plus simple sera la plus juste. Notre oreille fonctionne avec ce rasoir.&nbsp;:-)</p>
  <p><strong>Pour SOL mineur</strong>, RÉ mineur est le ton relatif de la dominante —&nbsp;FA majeur&nbsp;— du relatif majeur de SOL mineur —&nbsp;SI bémol majeur. Tu peux te servir de l'allégorie des chambres pour bien le vérifier.</p>
  <p><strong>Pour SOL mineur</strong>, RÉ majeur est le ton de la dominante.</p>
  <p>Question à 1000 €&nbsp;: quelle réponse te semble la plus simple&nbsp;?</p>
  <p>RÉ majeur, évidemment.</p>
  <p>Note que SOL mineur et RÉ majeur sont des tons très éloignés, au niveau des armures. Beaucoup plus que SOL mineur et RÉ mineur. Mais le ton de la dominante sera toujours plus proche qu'un autre ton.</p>
  <p>Et note quand même qu'il n'y aura jamais, dans ce morceau, de modulation en RÉ majeur, au sens strict du terme. Seulement des <em>appels</em>.</p>
</div>
