<h3>À (re)partir des mesures 26 (parenté du V et du VII)</h3>

<%= image_mesure 26 %>

<p class='blue'>
Alors Am7b5 - (la do mib sol) On est ici sur le IIe degré de la gamme de Gm.
</p>

<p class='phil'>Parfait&nbsp;! &nbsp;:-)</p>

<%= image_mesure 27 %>

<p class='blue'>
Après un IIe degré on a souvent un V, […]
</p>

<p class='phil'>Excellent&nbsp;!&nbsp;:-)</p>

<p class='blue'>
… ce qui est le cas ici avec D7 —&nbsp;RÉ FA# LA DO&nbsp;. On s'attend à une cadence II, V et I.
</p>

<div class='phil'>
  <p>Magnifique&nbsp;!&nbsp;:-)</p>
  <p>C'est peut-être pas encore clair pour toi, mais là, tu fais de l'analyse, Isabelle&nbsp;;-).</p>
  <p>Note un point important&nbsp;: le simple fait d'avoir II suivi de V est déjà <strong>très fort</strong> tonalement, même sans le I pour conclure. Ça affirme une tonalité sans ambiguïté.</p>
</div>

<%= image_mesure 28 %>

<p>Si j'empile les tierces ici, ca donne DO# MI SOL SIB sur une pédale de RÉ, c'est l'accord C#dim7, déjà vu à la mesure 25 et VIIe degré de REm.</p> 

<div class='phil'>
  <p>C'est excellent, Isabelle :-)</p>
  <p>Attention quand même&nbsp;: si tu écris "C#m7", ça signifie une 5te diminuée et une 7e mineure. C'est "C#7dim" l'accord, ou même "C#dim" tout simplement —&nbsp;C#° en écriture jazz, avec un rond en exposant, c'est bien trouvé pour un accord qui tourne en rond sans fin sur ses tierces&nbsp;;-)).</p>
</div>

<p>On a ici l'enchaînement harmonique: II V VII, […]</p>

<div class='phil'>
  <p>Attention, tu numérotes tes accords sans tenir compte des tonalités, c'est impossible et ça ne signifie plus rien&nbsp;:-). On a&nbsp;:</p>
  <p>(SOLm) II V (RÉ m/M ?) VII</p>
</div>

<p>
[…] ce n'est pas un enchaînement classique, non&nbsp;?
</p>

<div class='phil'>
  <p>Il n'est pas <em><strong>archétypal</strong></em>, mais le propre de l'archétype, c'est de se décliner, pour créer un enchaînement qui lui est tout à fait classique&nbsp;;-).</p>
  <p>Et nous nous arrêtons beaucoup trop tôt dans le morceau pour tirer des conclusions&nbsp;;-).</p>
  <p>Pour ça, je vais te demander d'aller jusqu'à la mesure 33 comprise. Donc de traiter de 26 à 34.</p>
  <p>Mesure 30, je voudrais que tu me dises ce que tu penses du renversement, et ce qu'il implique.</p>
  <p>N'oublie pas de me dire ce que raconte la basse, surtout, jusqu'à cette mesure 34.</p>
  <p>Ce qui est particulièrement intéressant dans ce passage, je te le dis d'avance pour que ça assure un peu ta recherche, c'est que l'on a un enchaînement archétypal <strong>II V I</strong>, mais rendu très complexe (en apparence) par tout un tas de petits stratagèmes harmonico-mélodiques très simples.</p>
  <p>Je voudrais, pour bien synthétiser ce passage, que tu essaies de souligner ici, après l'analyse complète du passage de 26 à 34, tout ce qui affirme l'enchaînement II V I.</p>
</div>

<%= image_mesure 24 %>
<p class='blue'>
Je reviens sur la mesure 24, j’avais noté que c’est un Ve degré en Gm, D7 – V – (RÉ FA# LA DO MIb) mais pourrait-on dire aussi un Fa#7dim, VIIe degré en SOL mineur sur une pédale de RÉ&nbsp;? Ou, comme le V et VII ont la même fonction harmonique de dominante, cela n’a pas d’importance dans l’analyse&nbsp;?</p>

<div class='phil'>
  <p>Tout à fait. C'est absurde en soi,&nbsp;:-) mais on peut tout à fait le dire.</p>
  <p>C'est absurde, parce que parler d'un VIIe degré alors qu'on a la dominante à la basse —&nbsp;RÉ&nbsp;—, faut vraiment oser.</p>
  <p>Mais on peut tout à fait le dire, parce que 1/ sans ça, on aurait un accord de 9e de dominante —&nbsp;osé à cette époque, même chez Bach&nbsp;— et 2/ ce qui justifie surtout pour moi la pertinence de ta remarque&nbsp;: on a un contexte de pédale de dominante —&nbsp;RÉ&nbsp;—, notre oreille finit par l'oublier par entendre les accords au-dessus <em>pour eux-mêmes</em>, donc là, effectivement, comme par magie, on peut entendre un VII sur une pédale de dominante, aussi absurde que ça puisse paraitre.</p>
  <p>C'est là où l'oreille doit toujours prendre le pas sur le raisonnement froid en analyse, et où ce qui peut être absurde en théorie devient pertinent à l'oreille.</p>
  <p>Note quand même que beaucoup d'analystes ne s'embarrassent pas de tout ça et analysent allègrement cet accord comme une 9e de dominante&nbsp;:-).</p>
  <p>Je suis heureux, et tu m'épates, parce que tu devances les trucs sur lesquels je voulais revenir.&nbsp;:-)</p>
  <p>Je suis vraiment heureux aussi que tu dises que le V et le VII ont la même fonction harmonique de dominante. Je voulais y revenir plus tard aussi. Oui, il est important de toujours comprendre le VIIdim comme un V amputé de sa fondamentale —&nbsp;la <em>fondamentale</em> d'un V est bien sûr la <em>dominante</em> de la tonalité.</p>
  <p>Note bien que c'est particulièrement vrai en mineur ou avec l'accord de 7e diminuée en majeur, mais c'est beaucoup moins vrai en majeur avec son VII normal —&nbsp;qui lui ne possède pas de 7e diminuée.</p>
  <p>Donc&nbsp;: en mineur, on utilise souvent le VII pour le V, oui, tu as tout à fait raison. Tu le verras un million de fois, à commencer chez Bach.</p>
  <p>Bravo à toi, pour cette réflexion pertinente&nbsp;!</p>
</div>
