<h3>Nature des modulations&nbsp;: Appel, Emprunt et Modulation</h3>

<p>
Tu me demandais si je connaissais la différence entre <em>emprunt</em> et <em>modulation</em>. Un <em>emprunt</em> c'est un accord qui tombe du ciel, en quelque sorte, qui arrive sans modulation.
</p>
<p class='phil'>J'aime bien ta définition :-). Les accords qui tombent du ciel, c'est très mignon.</p>

<div class='phil'>
  <p>Je te donne la définition “officielle” —&nbsp;je dis “officielle” parce que la définition de ces termes n'est pas gravée dans le marbre, moi je n'emploie même pas la version officielle.</p>
  <p>Donc il y a <strong>trois types de modulation</strong>&nbsp;:</p>
  <ul>
    <li>l'<strong>APPEL</strong> (qui est une modulation)&nbsp;;</li>
    <li>l'<strong>EMPRUNT</strong> (qui est une modulation)&nbsp;;</li>
    <li>la <strong>MODULATION</strong> (qui est une modulation — sic).</li>
  </ul>
  <p>J'ai un peu lourdement ajouté “<em>qui est une modulation</em>” à chaque fois pour bien souligner qu'à chaque fois il y avait une altération des tensions qui produisait un “changement de chambre”, en tout cas au moins l'ouverture de la porte d'une nouvelle chambre.</p>
  <p>En fait la nature de la modulation ne se détermine pas au moment où apparait un accord étranger ou une note étrangère à la tonalité courante, elle se détermine <strong>seulement</strong> suivant <strong>ce qui va se passer ensuite</strong>, dans les mesures suivantes.</p>
  <p>Au moment où apparait l'accord étranger —&nbsp;c'est-à-dire l'accord qui n'appartient pas à la tonalité courante, comme ici à la mesure 11 avec le FA#7dim&nbsp;—, on parle simplement de modulation. On dit que <em>ça module</em>, mais on ne peut pas encore savoir si c'est un Appel, un Emprunt ou une "vraie" Modulation.</p>
  <p>Il faut attendre les mesures suivantes pour connaitre la nature exacte de cette modulation, emprunt&nbsp;? appel&nbsp;? "vraie" modulation&nbsp;?</p>
  
  <p><strong>APPEL</strong></p>
  <p>L'Appel, c'est très simple à juger, c'est lorsque que le I de la nouvelle tonalité n'apparait pas dans les mesures suivantes. Donc quand la modulation n'est pas “résolue”, quand <strong>les tensions ne se résolvent pas sur l'accord de tonique</strong>.</p>
  <p>Ici, dès la mesure 13, on a le SOL mineur, donc le I. Donc on ne peut pas parler d'Appel par exemple. Ça ne peut pas être un Appel.</p>
  <p>En revanche, si tu prends par exemple les mesures 23-24&nbsp;:</p>
  <%= image_mesure '23_24' %>
  <p>… sur la 23 —&nbsp;la première mesure ci-dessus&nbsp;—, on a une modulation en RÉ avec le DO# qui est sa sensible, mais cette modulation ne se résout pas en RÉ. Le DO#-sensible, qui devrait monter à la note RÉ est <em>détourné</em> pour devenir DO bécarre sur la mesure 24. Donc, mesure 23, on a un simple <em>Appel</em> à RÉ, la dominante de SOL (mineur).
  </p>
  
  <p><strong>EMPRUNT</strong></p>
  <p>C'est quand tu veux t'acheter une grosse maison qui vaut très cher et que… ah non… ça c'est autre chose…</p>
  <p>Non, dans l'<em>emprunt</em>, contrairement à l'Appel, la modulation est <strong>résolue</strong>, c'est-à-dire tout bêtement, on trouve l'accord I dans les mesures suivantes. Mais on revient rapidement dans la tonalité originale ou précédente.</p>
  <p>On aura ça par exemple avec les mesures de 37 à 40&nbsp;:</p>
  <%= image_mesure '37_39' %>
  <%= image_mesure 40 %>
  <p>En 37, nous sommes en SOL Majeur, puis cet accord de tonique devient un accord de 7e de dominante dans la mesure 38, par l'ajout de la note FA bécarre. Remarque à nouveau ce que je te disais il y a peu&nbsp;: le FA#, caractéristique de la tonalité de SOL (mineur ou Majeur) est <em>supprimé</em>, il devient FA bécarre.</p>
  <p>Ce SOL 7e de dominante (G7) appelle la tonalité de DO, il module en DO (Majeur ou mineur, mais vu le contexte de bémols, il y a de fortes présomptions pour que ce soit DO mineur).</p>
  <p>Et effectement, mesure 39, nous avons l'accord I de DO mineur. La tension est résolue normalement.</p>
  <p>Mais aussitôt en 40, le FA bécarre est abandonné et nous retrouvons le FA# au pouce de la main droite qui nous fait revenir en SOL.</p>
  <p>Moralité, la modulation en DO mineur était un simple <em>emprunt</em>.</p>
  
  <p><strong>MODULATION</strong></p>
  <p>Dans la <em>modulation</em> aussi les tensions se résolvent un moment ou à un autre sur le I. La différence entre l'Emprunt et la Modulation, c'est la durée, le temps qu'on va rester dans la nouvelle chambre.</p>
  <p>Si la modulation dure suffisamment longtemps, c'est une vraie <strong>modulation</strong>. Le morceau change vraiment d'univers, il change de monde, on passe dans une nouvelle chambre en refermant la porte derrière nous.</p>
  <p>C'est ce qui se passe par exemple dans ce morceau à la mesure 11. Nous abandonnons la tonalité de DO mineur pour n'y revenir —&nbsp;et encore, en simple <em>emprunt</em>&nbsp;— que 27 mesures plus loin.</p>
  <p>Avec une modulation il y a souvent changement de thème, on passe vraiment à autre chose. Note que ça n'est pas le cas ici.</p>
  <p>Voilà, ça, ce sont les définitions qu'on va appeler “officielles”.</p>
</div>

<p>
Mais je ne comprends pas qu’il ne puisse pas y avoir de modulation en RÉ majeur. J’ai bien suivi toutes tes explications sur les tons voisins, sur ce que représente Ré M pour SOL mineur mais apparemment un maillon de la chaîne m’a échappé.
</p>

<div class='phil'>
  <p>Avoir une modulation en RÉ majeur, ça voudrait dire qu'on se retrouverait avec les notes : RÉ - MI - FA# - SOL - LA - SI - DO# - RÉ.</p>
  <p>On passerait donc de 2 bémols à 2 dièses. 3 notes qui changent, 3 notes qui séparent les deux tonalités —&nbsp;note que le FA# est commun. Ça serait vraiment raide pour cette époque. Il faudrait vérifier —&nbsp;c'est toujours dur de faire ce genre d'affirmation, à cause de son répertoire&nbsp;— mais je pense que Bach n'a jamais fait une chose aussi osée.
  </p>
  <p>
  Tu peux poursuivre, si tu veux bien.
  </p>
</div>

<p class='blue'>
Des mesures 26 à 32, la basse, RÉ, est la dominante de SOL mineur, puis elle devient la tonique, SOL, de Gm à la mesure 33.
</p>

<p>
J’ai la très nette impression de nager dans mes formulations, j’espère que tu arrives à suivre.
</p>

<div class='phil'>
  <p>Non, je ne trouve pas que tu nages&nbsp;:-). Ou alors tu nages de bien belle façon :-).</p>
</div>
<p>
[…]
</p>

