<h3>Notes sur la première version de l'analyse complète</h3>

<div class='phil'>
  <p>Hello Isabelle,</p>
  <p>Oui, super pour la partition&nbsp;;-).</p>
  <p>Et tu as presque l'intégralité de l'analyse harmonique en plus&nbsp;:-).</p>
  <p>Quelques remarques&nbsp;:</p>
  <p><strong>1/</strong>&nbsp;N'oublie jamais d'indiquer la tonalité initiale, d'autant plus quand on est en mineur. Tu le fais exactement comme tu indiques les modulations.</p>
  <p><strong>2/</strong>&nbsp;Super important&nbsp;: les pédales, surtout sur un morceau comme ça qui se construit presque exclusivement sur des pédales — à souligner, dans la synthèse, d'ailleurs.</p>
  <p>Pour l'indiquer&nbsp;: là où la pédale commence, tu indiques la note (par exemple&nbsp;: DO) suivi du degré de cette note dans la tonalité (par exemple "DO (1)" ) et tu tires un trait horizontal toute la durée que tient de la pédale. Comme ça, on voit bien que certaines harmonie sont sur pédale. Quand la pédale continue sur le système suivant, tu indiques à nouveau la note et son degré.</p>
  <p><strong>3/</strong>&nbsp;Le chiffrage des accords, toujours en dessous&nbsp;: donc la 6<sup>te</sup>&nbsp;augmentée, tu l'indiques en dessous. Une sixte augmentée, ça se fait sur le 6e degré (de la tonalité mineure) donc&nbsp;: VI 6aug (tu as vu comme la musique aime bien tromper son monde&nbsp;: c'est déjà dur de comprendre la 6te augmentée, et il faut en plus que ce soit l'accord du 6e degré, tout pour nous emmêler&nbsp;:-)).</p>
  <p><strong>4/</strong>&nbsp;Les simples appels (à RÉ), je ne les indiquerais pas comme les modulations. Tu peux faire par exemple juste un trait oblique avec une flèche au bout (qui point vers le haut). En en dessous tu peux indiquer "VII de V" (une sorte de dominante de dominante, donc).</p>
  <p><strong>5/</strong>&nbsp;Il faut indiquer aussi les cadences parfaites (ici, il n'y en a qu'une seule et en plus, elle est "complexe"). Tu les indiques comme sur la vidéo, c'est donc en dessous, un trait horizontal qui part du "V" qui va jusqu'au "I" et qui remonte verticalement. Tu peux mettre à côté "C.P." (pour Cadence Parfaite).</p>
  <p><strong>6/</strong>&nbsp;31 à 33, les chiffrages sont pas bons.&nbsp;;-) Mais je pense que c'est une coquille (un m7/5b ou un D7 ne pourront jamais, dans la musique classique, être des I).</p>
  <p><strong>7/</strong>&nbsp;Mesure 38/39, plutôt qu'une modulation en DO mineur, j'indiquerais "Emprunt à la S.D." (ou "Sous-dominante" en toutes lettres).</p>
  <p><strong>8/</strong>&nbsp;Mesure 12, 24, il y a deux harmonies par mesure, en fait.</p>
  <p><strong>9/</strong>&nbsp;Quand tu indiques les modulations, indique aussi ce que représente la nouvelle tonalité pour la tonalité précédente. Par exemple, la première (SOL mineur), tu indiques "Gm (Vm de DO mineur)". C'est très important pour comprendre, à force, comment tout cela fonctionne.</p>
  <p>Tu vas dire que ça fait plein de remarques, mais c'est pas vrai, tu as déjà fait un super boulot,&nbsp;là&nbsp;;-).</p>
  <p>Bon courage&nbsp;!</p>
</div>