<h3>Synthèse finale d'Isabelle</h3>

<p class='bold'>
L’armure
</p>

<p>
Le prélude BWV 999 est composé de 43 mesures. A l’armure, trois bémols, le morceau est en MIb ou sur sa relative mineure, DO mineur.  Le morceau est à 3 temps. 
</p>
<p>
Les premières mesures, avec les notes, do mib sol, indiquent que la tonalité principale est dom.
</p>

<p class='bold'>
La basse – La note pédale
</p>
<p>
A la basse , on observe la présence de la note pédale DO, tonique de la tonalité DOm, des mesures 1 à 7. De la mesure 17 à 32, à part la mesure 23 avec une pédale sur mi,  la note pédale est ré, dominante de la tonalité de Gm. De la mesure 33 à la la mesure 43, note pédale SOL, tonique de la tonalité de G.
</p>
<p>
Le morceau est presque entièrement écrit sur pédale, on passe de DO à RE puis à SOL, qui théoriquement devrait/pourrait conclure sur DO et rappelerait alors la cadence I II V I.
</p>
<p>
Dans certaines mesures, par exemple, les mesures 5, 6, 25, 40, qui sont d’ailleurs des accords de 7e dimininuée, la tension harmonique est particulièrement prononcée entre la basse (note pédale) et l’accord posé sur cette même note pédale.
</p>
 
<p class='bold'>
Le rythme
</p>

<p>
Mis à part la dernière mesure, les mesures sont toutes construites sur le même rythme. A la basse, une noire, puis l’accord de trois sons, énoncé mélodiquement (aucune idée si on peut dire cela de cette manière, je veux dire note après note et non comme un accord plaqué) dans sa forme fondamentale ou sur le 1er ou 2e renversement, en doubles-croches puis un étroit enchainement entre les voix main gauche et main droite, sur croches et doubles croches.
</p>
<p>
Ce motif rythmique, répétitif, donne l’impression d’un ruban qui se déroule à perte de vue ou peut-être plus encore d’une course à perdre haleine.
Les 7e diminuées, très présentes, synonymes de tensions, viennent renforcer le sentiment d’attente de la résolution.
</p>

<p class='bold'>
Harmonique ou contrapuntique
</p>
<p>
Est-ce que cela pourrait être les deux ?
</p>
<p>
Harmonique, parce que tout le morceau est construit, du moins horizontalement, sur des accords.
</p>
<p>
Contrapuntique, parce que par la construction même du motif rythmique, on entend trois voix&nbsp;:
</p>
<ul>
  <li>La basse</li>
  <li>La voix du haut, jouée à la main droite</li>
  <li>Les deux croches, à la main gauche</li>
</ul>
<p>
On joue ces trois “voix”, sur trois registres différents, elles s’entremêlent, puisque la basse résonne encore longtemps sur la mesure. Les deux croches, main gauche, communiquent avec les doubles- croches de la main droite. 
</p>

<p class='bold'>
Autres remarques
</p>
<p>
Selon l’armure, la tonalité principale du morceau est le DOm. Cependant, seules les 10 premières mesures sont en DOm sur un total de 43 mesures. Le SOLm domine le prelude.
</p>

<p>
Le morceau est en DOm et se termine cependant sur un accord de SOLM. En général, un morceau se termine sur la tonalité principale. Le prélude devrait conclure en DO mineur ou DO Majeur.
</p>

<p>
Si l’on garde la sensation du DO mineur en mémoire, le dernier accord, qui serait alors la dominante de la tonalité de départ laisse une impression d’inachevé, on reste dans l’ambiance générale du morceau, de tensions, qui, à peine résolues, se renouvellent.
</p>