<h3>Remarques sur la synthèse finale</h3>

<div class='phil'>
  <p>Hello Isabelle,</p>
  <p>
Pour ta synthèse, elle est vraiment super&nbsp;:-). C'est impeccable, c'est exactement ce que tu pouvais en dire pour un début en analyse&nbsp;:-).  
  </p>
  <p>Juste quelques remarques&nbsp;:</p>
  <p>Pour la tonalité, tu peux la donner directement. Dans la synthèse, tu ne dois pas repasser par les raisonnements.</p>
  <p>Et puis plus que premières notes, c'est surtout le premier accord et le premier enchainement cadentiel —&nbsp;I IV VII I&nbsp;— qui confirme la tonalité. En général, pour la tonalité mineure, on recherche la sensible.
  </p>
  <p>Il faut absolument éviter les “images” dans une analyse. On laisse ça aux poètes&nbsp;;-). En fait, on parlerait plutôt d'un <em>ostinato rythmique</em>, par exemple, ou d'un <em>rythme obstiné</em>, plutôt que d'<em>un ruban qui se déroule</em> (même si l'image est très bien trouvée). On essaie de caractériser techniquement la pièce. En fait, tu peux garder les images, ou les impressions pour une sorte de conclusion.</p>
  <p>Je te le dis surtout parce que tu débutes en analyse. Après, tu pourras te permettre de le faire. En fait, il faut s'efforcer de trouver <strong>le caractère</strong> de la pièce, sans images, qui sont des facilités et sont trop subjectives —&nbsp;c'est toi qui projette quelque chose sur le morceau, et il vaut mieux éviter, au début.</p>
  
  <p>Par rapport à contrapuntique/harmonique, une pièce serait toujours les deux, vu qu'elle est faite pour être musicale. En fait, ici, il n'y a rien de contrapuntique. Tout se construit sur les accords, il n'y a pratiquement aucune note de passage, à peine quelques retards, et peu. Pour te donner une piste, lorsque toutes les notes appartiennent à l'harmonie —&nbsp;à l'accord courant&nbsp;—, la pièce est presque fatalement de caractère harmonique.</p>
  <p>En fait, “harmonique”, ça ne veut pas dire “accord”, dans ce cadre. Ça veut dire que l'harmonie est affirmée, que les accords sont affirmés, du fait même que ce sont seulement leurs notes qui sont utilisées pour construire la mélodie.</p>
  
  <p>Je sais que tu travailles sur la première invention de Bach, et c'est très bien parce que là, tu verras que c'est exactement le contraire.</p>
  
  <p>En tout cas, vraiment chapeau, parce que tu t'en es très bien tirée et tu es arrivée jusqu'au bout&nbsp;!&nbsp;:-).</p>
  
  <p>Tu sais quoi, moi je pense que ce morceau était en fait une introduction à autre chose, qu'il devait être lié à un autre morceau —&nbsp;pas une fugue, puisqu'on sait comment Bach enchainait prélude et fugue&nbsp;— qui devait être en DO mineur. D'ailleurs, tu peux faire l'essai&nbsp;: tu termines le prélude, et ensuite tu improvises un petit truc en DO mineur, tu verras que ça marche très bien. Mais le morceau a dû se perdre avec le temps.</p>
  <p>Mais tu as très bien senti toutes les tensions et ce côté “inachevé” du morceau, c'est vraiment excellent, ça&nbsp;:-). Excellent aussi d'avoir noté le <strong>I II V</strong> dessiné par la basse, qui appellerait un DO pour terminer, comme une <em>fin ouverte</em>.</p>
  <p>Tu vois, un truc comme ça, en jouant le morceau, tu dois l'avoir en tête, le sentir. Et sentir aussi ce côté <em>“qui attend continuellement des résolutions qui ne se font pas”</em>. Ça t'aidera à vraiment bien l'interpréter, de l'intérieur.</p>
  <p>Vraiment un grand bravo à toi&nbsp;! Tu vas faire des miracles, dans un ou deux ans, si tu poursuis&nbsp;!&nbsp;:-)</p>
  <p>Et ça a été un plaisir de t'accompagner&nbsp;!</p>
</div>

<p>
Et moi d'être accompagnée&nbsp;! Merci à toi, Phil&nbsp;!&nbsp;:-)
</p>