<% 
##
## Table des matières de la rubrique “Travaux pratiques”
##
%>
<% 
tdms = [
  ["Comment profiter pleinement de ce travail pratique&nbsp;?", "000"],
  ["Partition complète", "001"],
  ["Analyse harmoniques des mesures 1 à 22 par Isabelle", "002"],
  ["Analyse harmoniques des mesures 1 à 22 par Isabelle (suite)", "003"],
  ["Retours de Phil sur les mesures 1 à 22", "004"],
  ["Révision des premières mesures par Isabelle", '005'],
  ["Retours de Phil (l'Accord de Quarte et Sixte)", '006'],
  ["Suite d’Isabelle", '007'],
  ["Retour de Phil (l'allégorie des chambres de couleur)", '008'],
  ["Suite retour de Phil (la sixte augmentée)", '009'],
  ["Échanges Isabelle/Phil (les cadences)", "010"],
  ["Analyse des mesures 24 à 43 (Isabelle)", "011"],
  ["Retour de Phil (de l'importance de la basse)", "012"],
  ["Échanges (les règles de la pédale)", "013"],
  ["Mesure 25, acharnement thérapeutique", "014"],
  ["Septième diminuée et rasoir d’Hockam", "015"],
  ["Quelques petites mises au point", "016"],
  ["Un sort jeté à la mesure 25 (les faux tons proches)", "017"],
  ["À (re)partir des mesures 26 (parenté du V et du VII)", "018"],
  ["Mesures 25 à 34 (l'enchainement 5 -> 1 de basse)", "019"],
  ["Nature des modulations&nbsp;: Appel, Emprunt et Modulation", "020"],
  ["Majorisation, Tensions et Picarde&nbsp;!", "021"],
  ["La fin selon Isabelle (mesures 30 à 43)", "022"],
  ["La fin selon PhilIcare (mesures 30 à 43)", "023"],
  ["1<sup>ère</sup> version de l'Analyse harmonique complète", "024"],
  ["Notes sur la première version de l'analyse complète", "025"],
  ["Analyse harmonique complète (final)", "026"],
  ["Synthèse finale d'Isabelle", "027"],
  ["Remarques sur la synthèse finale", "028"]
]
%>
<p class='italic'>
Cette section présente un travail interactif d'analyse musicale exécutée par Isabelle et Phil (Phil-Icare) sur le Prélude en DO mineur BWV 999 de Jean-Sébastien Bach.
</p>
<p>
Vous pouvez suivre l'intégralité du parcours d'Isabelle —&nbsp;et faire les exercices avec elle&nbsp;— ou trouver directement son <%= link_to "Analyse complète", 'pratiques/analyse_bach_bwv999/026' %> et <%= link_to "sa synthèse finale", 'pratiques/analyse_bach_bwv999/027' %> (qui font partie des derniers articles).
</p>
<%= App::Article::tdm_with(tdms) %>