<% 
##
## Table des matières de la rubrique “Travaux pratiques”
##
%>
<% 
tdms = [
  ["Comment profiter pleinement de ce travail pratique&nbsp;?", "000"],
  ["Partition complète", "001"],
  ["Analyse harmoniques des mesures 1 à 22 par Isabelle", "002"],
  ["Analyse harmoniques des mesures 1 à 22 par Isabelle (suite)", "003"],
  ["Retours de Phil sur les mesures 1 à 22", "004"],
  ["Révision des premières mesures par Isabelle", '005'],
  ["Retours de Phil (l'Accord de Quarte et Sixte)", '006'],
  ["Suite d’Isabelle", '007'],
  ["Retour de Phil (l'allégorie des chambres de couleur)", '008'],
  ["Suite retour de Phil (la sixte augmentée)", '009'],
  ["Échanges Isabelle/Phil (les cadences)", "010"],
  ["Analyse des mesures 24 à 43 (Isabelle)", "011"],
  ["Retour de Phil (de l'importance de la basse)", "011"]
]
%>
<h2>Analyse du Prélude de Bach BWV999</h2>
<p class='italic'>
Cette section présente un travail interactif d'analyse musicale exécutée par Isabelle et Phil (Phil-Icare) sur le Prélude en DO mineur BWV 999 de Jean-Sébastien Bach.
</p>
<%= App::Article::tdm_with(tdms) %>