<p>
Bienvenue sur mon blog piano sur <%= name %>.
</p>

<h3>Les Classiques Favoris du piano</h3>

<p>
Je commence ce blog en reprenant le cours de mon travail sur le volume 1A des <strong>Classiques Favoris du Piano</strong> que j'ai décidé de travailler dans son intégralité entre ma 3e et 4e année d'apprentissage du piano.
</p>
<p>Mon but principal dans ce “challenge”, au-delà de la difficulté de l'enregistrement, est de respecter un certain nombre de contraintes&nbsp;:
  <ul>
  <li>De respecter au plus près les tempos indiqués par l'éditeur&nbsp;;</li>
  <li>De respecter toutes les indications de jeu. Seuls quelques ralentis peuvent être ajoutés&nbsp;;</li>
  <li>De jouer tous les morceaux de mémoire&nbsp;;</li>
  <li>De déposer un morceau par semaine (mais chaque morceau est travaillé pendant deux mois).</li>
</ul>
</p>

<%= app.view('article/blog/philicare/cfp/ul_cfp') %>