<h2>Votre profil</h2>

[Cette partie est en construction]

<div class='p small right'>
  <%= link_to "Modifier votre profil", :edit_profil %>
</div>

<div class='p small right'>
  <%= link_to "Explication des grades", 'main/grades' %>
</div>
<div class='p small right'>
  <%= link_to :articles_en_projet %>
</div>
<div class='p small right'>
  <%= link_to :vote_articles %>
</div>