<% 
##
## Cadre pour un non follower (section user/work)
##
%>
<div class='warning'>
<p>
Pour pouvoir utiliser cette section, vous devez être enregistré(e) comme “Lecteur” du <%= short_name %>. Pour ce faire, utilisez le menu <%= link_to "Suivre le cercle", 'main/rester_informed' %>.
</p>
</div>
