<% 
##
## Présentation sommaire de la section
##
%>
<p class='small'>
Dans cette section, vous pouvez trouver votre travail pianistique et musical du jour. Pour plus d'information, <%= link_aide "consultez l'aide", 'aide/user/dayly_work' %>.
</p>