<h2>Une bonne séance de travail</h2>

<p>
[TODO: À développer]
</p>

<h3>Varier les séances</h3>

<p>
Respecter quotidiennement la même séance, jour après jour, peut être lassant et même contre-productif. Sans vouloir imposer des séances chaque fois différente —&nbsp;ce qui serait peut-être une tout aussi mauvaise habitude que de toujours faire la même chose&nbsp;— il peut être intéressant de varier les approches.
</p>

<p>
Nous allons proposer maintenant quelques exemples de séances. Rien d'exhaustif, juste quelques pistes pour faire permettre la réflexion.
</p>

<p>
Séance classique
</p>
<ul>
  <li>Commencer, à titre d'échauffement et de concentration, par un travail lent sur les morceaux. Dans ce travail, il s'agit de jouer tous les morceaux travaillés, mais de façon extrêmement lente, pour se concentrer sur chaque note, chaque passage.</li>
  <li>Travail des gammes. Si vous avez de longues sessions de travail, toutes les gammes seront abordées, dans toutes les tonalités. OU : travail sur les arpèges, dans le même cadre.</li>
  <li>Travail uniquement sur les difficultés des morceaux. Les répéter, de très lentement à un peu plus vite, jusqu'à ce que la mémorisation physique et mentale soit complète.</li>
</ul>

<p>
Autre séance
</p>

<ul>
  <li>Commencer par travailler seulement sur les passages difficiles des morceaux travaillés, passages qui auront été soigneusement relevés comme nous le conseillons ici&nbsp;;</li>
  <li>Quelques exercices dans la tonalité du jour (exercices qui peuvent être tirés du Hanon)&nbsp;;</li>
  <li>Terminer par un travail très lent, très concentré, sur les gammes et/ou les arpèges.</li>
</ul>

<p>
Autre séance, particulièrement sur la technique, lorsque l'on a un petit “coup de mou” sur l'interprétation des morceaux travaillés.
</p>

<ul>
  <li>Gammes puis arpères. Soit dans toutes les tonalités pour les séances de 3 heures, seulement dans la tonalité du jour pour les séances plus courtes&nbsp;;</li>
  <li>Travail des exercices, dans la tonalité du jour&nbsp;;</li>
  <li>Terminer par l'interprétation, une seule fois, des morceaux travaillés, sur un tempo suffisamment lent pour avoir bien le temps de se concentrer sur chaque note, chaque passage.</li>
</ul>