<h2>Une bonne séance de travail</h2>

<p>
Quel que soit le temps que vous avez à consacrer à l'instrument, vous pouvez l'organiser afin qu'il soit le plus agréable et le plus profitable possible.
</p>

<p>
Notez que si vous n'avez pas d'ambition musicale ou instrumentale, peu importe que vos séances soient organisées. Jouez avec bonheur vos morceaux du moment, prenez-y du plaisir, et la musique continuera de vivre.
</p>

<p>
En revanche, si vous envisagez de faire des progrès, et de réels progrès, il vous faut un plan de bataille efficace et confortable, afin de faire les meilleurs progrès.
</p>

<h3>De quoi est constituée une bonne séance de travail&nbsp;?</h3>

<p>
Tentons d'établir une liste des choses qui devraient être travaillées au cours de chaque séance de pratique de la musique, afin qu'une progression solide s'affirme de jour en jour.
</p>

<ul>
  <li>De la technique physique. Le mieux pour cela est de pratiquer des exercices variés et intelligents&nbsp;;</li>
  <li>Du travail d'interprétation. Ce travail peut être fait sur les morceaux du moment.</li>
  <li>Un peu de “théorie pratique” ou de “théorie appliquée” afin de renforcer ses compétences musicales.</li>
  <li>Un peu de vrai déchiffrage.</li>
</ul>

<h3>Travailler le moins possible les morceaux</h3>

<p>
Un des secrets d'une bonne progression et d'un vrai plaisir est de travailler le moins possible ses morceaux. Au contraire, le plus important du temps doit être une préparation à ce travail. Comme un alpiniste ne se lance pas sur une pente pour se faire les muscles, un musicien ne devrait jamais aborder un morceau sans avoir acquis au préalable le niveau technique pour l'interpréter.
</p>

<p>
À ce niveau, on pourrait dire que l'enseignement est très mal penser, qui met en permanence le musicien en face de morceau qu'il n'a pas le niveau d'interpréter. Cela tient à la vieille croyance que c'est de cette manière qu'on progresse.
</p>

<p>
En vérité, on ne progresse pas ainsi, on se prépare au découragement. Au contraire, si on se prépare correctement, si on entreprend un travail technique préliminaire efficient, alors on aura toutes les chances de vraiment progresser et de se faire vraiment plaisir.
</p>

<p>
Si vous avez une heure de temps à consacrer à l'instrument, vous ne devriez jouer vos morceaux —&nbsp;ou <em>votre</em> morceau&nbsp;— une seule fois, c'est largement suffisamment.
</p>

<h3>Varier les séances</h3>

<p>
Respecter quotidiennement la même séance, jour après jour, peut être lassant et même contre-productif. Sans vouloir imposer des séances chaque fois différente —&nbsp;ce qui serait peut-être une tout aussi mauvaise habitude que de toujours faire la même chose&nbsp;— il peut être intéressant de varier les approches.
</p>

<p>
Nous allons proposer maintenant quelques exemples de séances. Rien d'exhaustif, juste quelques pistes pour faire permettre la réflexion.
</p>

<p>
Séance classique
</p>
<ul>
  <li>Commencer, à titre d'échauffement et de concentration, par un travail lent sur les morceaux. Dans ce travail, il s'agit de jouer tous les morceaux travaillés, mais de façon extrêmement lente, pour se concentrer sur chaque note, chaque passage.</li>
  <li>Travail des gammes. Si vous avez de longues sessions de travail, toutes les gammes seront abordées, dans toutes les tonalités. OU : travail sur les arpèges, dans le même cadre.</li>
  <li>Travail uniquement sur les difficultés des morceaux. Les répéter, de très lentement à un peu plus vite, jusqu'à ce que la mémorisation physique et mentale soit complète.</li>
</ul>

<p>
Autre séance
</p>

<ul>
  <li>Commencer par travailler seulement sur les passages difficiles des morceaux travaillés, passages qui auront été soigneusement relevés comme nous le conseillons ici&nbsp;;</li>
  <li>Quelques exercices dans la tonalité du jour (exercices qui peuvent être tirés du Hanon)&nbsp;;</li>
  <li>Terminer par un travail très lent, très concentré, sur les gammes et/ou les arpèges.</li>
</ul>

<p>
Autre séance, particulièrement sur la technique, lorsque l'on a un petit “coup de mou” sur l'interprétation des morceaux travaillés.
</p>

<ul>
  <li>Gammes puis arpères. Soit dans toutes les tonalités pour les séances de 3 heures, seulement dans la tonalité du jour pour les séances plus courtes&nbsp;;</li>
  <li>Travail des exercices, dans la tonalité du jour&nbsp;;</li>
  <li>Terminer par l'interprétation, une seule fois, des morceaux travaillés, sur un tempo suffisamment lent pour avoir bien le temps de se concentrer sur chaque note, chaque passage.</li>
</ul>