<h2>Tirer des exercices de ses morceaux</h2>

<p>
Plutôt que de s'acharner sur la difficulté d'un passage dans un morceau, en le répétant et le répétant encore, rien de tel pour le cerveau et le corps que de créer des exercices à partir de ces difficulté.
</p>

<p>
Cet article va vous présenter quelques pistes pour y parvenir, en espérant qu'elles vous ouvriront des champs d'invention intéressants pour créer vos propres exercices.
</p>

<h3>Premier temps&nbsp;: trouver où se trouve la difficulté</h3>

<p>
Il n'est pas toujours évident de savoir où, exactement, se situe la difficulté. Est-ce un problème de passage de pouce&nbsp;? Est-ce un problème d'articulation&nbsp;? Est-ce un problème de position du poignet&nbsp;?… Chaque difficulté contient sa propre expertise, mais ne vous souciez pas trop, au début, de porter un diagnostique juste. Ça viendra comme beaucoup de choses avec le temps.
</p>

<p>
Repérez simplement le ou les passages qui vous posent problème en essayant de déterminer où ils commencent (sur quelle note) et où ils terminent (sur quelle note).
</p>

<h3>Changer de tonalité</h3>

<%# Placer le fait qu'on a souvent peur, lorsque l'on travaille le passage dans une autre tonalité, de s'emmêler les crayons une fois qu'il faudra la reprendre dans la bonne tonalité. Il n'y a rien de plus faux. C'est même tout le contraire qui se produit. Donc faites ces changements de tonalité en toute confiance. Plus vous les ferez, et plus vous verrez votre connaissance du morceau augmenter, plus il se fixera de façon durable dans votre esprit. %>


<h3>Augmenter la répétition de la difficulté</h3>

<h3>Changer de sens</h3>

<h3>À deux mains</h3>

<h3>Compilation</h3>

<p>
Et si l'on mélangeait toutes ces techniques&nbsp;?
</p>