<h2>Travailler avec le Hanon</h2>

<div class="p">
Avant d'aborder la lecture de cet article, vous pourriez vouloir consulter l'article <%= link_to 'Des exercices ou pas&nbsp;?', 'theme/ni_pour_ni_contre/exercices_ou_pas' %>, sur la pertinence, pour vous, de pratiquer des exercices ou non, ainsi que sur l'article <%= link_to "Hanon ou &ldquo;Ha non&nbsp;!&rdquo;", 'theme/ni_pour_ni_contre' %> sur la pertinence ou non d'utiliser le recueil éponyme appelé le “Hanon”.
</div>


<h3>L'obsession du tempo</h3>

<h3>Utilisation comme échauffement</h3>

<p>
Nous le disons tout net&nbsp;: le Hanon n'est pas fait pour s'échauffer. Il peut être même redoutable, sur certains exercices, de ce point de vue, et pourrait faire plus de bien que de mal.
</p>

<p>
L'idéal est de le travailler avec les doigts déjà un peu échauffés, par exemple au milieu d'une séance de travail. Vos doigts, votre cerveau, seront alors d'autant à-même d'en tirer les bénéfices
</p>

<h3>Faut-il lire les notes&nbsp;?</h3>

<div class="p">
Il ne faut jamais lire les notes. Comme nous l'abordons dans l'article <%= link_to 'La Musique est-elle faite pour &ecirc;tre lue&nbsp;?', 'theme/contre/lire_en_jouant' %>
</div>

<h3>Le travail des tonalités</h3>

<p>
Le Hanon n'est pas pensé pour être travaillé seulement en DO majeur (les touches blanches), même s'il peut l'être.
</p>

<p>
Là encore, l'usage que vous en ferez dépendra de vos ambitions. Si vous avez décidé de travailler le Hanon, c'est que votre ambition pianiste est déjà suffisamment forte. Travailler 
</p>

<p>
Un mauvais conseil souvent entendu est de travailler les exercices dans la tonalité du ou des morceaux en cours d'apprentissage. Abandonnez cette technique. Le Hanon, c'est un investissement à long terme, et sur un spectre très large. “Mettre le paquet” sur une tonalité est un mauvais investissement.
</p>

<p>
Au contraire, passer au cribble toutes les tonalités majeures et mineures portera réellement ses fruits à long terme.
</p>

<p>
En conséquence, vous avez deux solutions&nbsp;: soit vous investissez du travail à court-terme, sur votre morceau actuel, soit vous investissez à long terme, et dans ce cas, quel que soit vos morceaux du moment, vous passez systématiquement, chaque jour, à une nouvelle tonalité (en montant par quinte, par exemple, ou par chromatisme).
</p>

<h3>Les variations</h3>

<p>
[TODO: Sur le fait qu'on peut faire les exercices autrement]
</p>

<h3>Quel temps consacrer au Hanon&nbsp;?</h3>

<p>
La régularité est un maitre-mot en matière d'apprentissage. Travailler un peu de Hanon chaque jour est donc une bonne chose.
</p>

<p>
À titre purement indicatif, vous pourriez consacrer 10% du temps complet de travail à ce recueil. En variant chaque jour les exercices.
</p>

<p>
Mais notez également que le Hanon permet aussi, les “jour sans” (sans envie de piano, de travailler), d'effectuer quand même un travail de son instrument. La séance peut être alors entièrement consacrée au travail de ses exercices.
</p>